<div id="popup-editor-product">
<div class="title-editor">{{ text_code }}</div>
	<form id="code-form" action="POST" method="post" enctype="multipart/form-data" class="form-horizontal">
	<input type="hidden" name="user_change" value="{{ user_change }}">
		
		<div class="form-group">
			<label class="col-sm-3 desc_edit_label">{{ entry_model }}</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" name="model" value="{{ model }}" />
			</div>
		</div>
		<div class="form-group">
			 <label class="col-sm-3 desc_edit_label">{{ entry_sku }}</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" name="sku" value="{{ sku }}" />
			</div>
		</div>
		<div class="form-group">
			 <label class="col-sm-3 desc_edit_label">{{ entry_upc }}</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" name="upc" value="{{ upc }}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 desc_edit_label">{{ entry_location }}</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" name="location" value="{{ location }}" />
			</div>
		</div>
		<div class="form-group">
            <label class="col-sm-3 desc_edit_label" for="input-tax-class">{{ entry_tax_class }}</label>
            <div class="col-sm-9">
                <select name="tax_class_id" id="input-tax-class" class="form-control">
                    <option value="0">{{ text_none }}</option>
                    {% for tax_class in tax_classes %} 
                    {% if (tax_class['tax_class_id'] == tax_class_id) %} 
                    <option value="{{ tax_class['tax_class_id'] }}" selected="selected">{{ tax_class['title'] }}</option>
                    {% else %} 
                    <option value="{{ tax_class['tax_class_id'] }}">{{ tax_class['title'] }}</option>
                    {% endif %} 
                    {% endfor %} 
                </select>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-3 desc_edit_label" for="input-quantity">{{ entry_quantity }}</label>
            <div class="col-sm-9">
                <input type="text" name="quantity" value="{{ quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-3 desc_edit_label" for="input-minimum">{{ entry_minimum }}</label>
            <div class="col-sm-9">
               <input type="text" name="minimum" value="{{ minimum }}" placeholder="" id="input-minimum" class="form-control" />
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-3 desc_edit_label" for="input-subtract">{{ entry_subtract }}</label>
            <div class="col-sm-9">
                <select name="subtract" id="input-subtract" class="form-control">
                {% if (subtract) %} 
                    <option value="1" selected="selected">{{ text_yes }}</option>
                    <option value="0">{{ text_no }}</option>
                {% else %} 
                    <option value="1">{{ text_yes }}</option>
                    <option value="0" selected="selected">{{ text_no }}</option>
                {% endif %} 
                </select>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-3 desc_edit_label" for="input-stock-status">{{ entry_stock_status }}</label>
            <div class="col-sm-9">
                <select name="stock_status_id" id="input-stock-status" class="form-control">
                    {% for stock_status in stock_statuses %} 
                    {% if (stock_status['stock_status_id'] == stock_status_id) %} 
                    <option value="{{ stock_status['stock_status_id'] }}" selected="selected">{{ stock_status['name'] }}</option>
                    {% else %} 
                    <option value="{{ stock_status['stock_status_id'] }}">{{ stock_status['name'] }}</option>
                    {% endif %} 
                    {% endfor %} 
                </select>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-3 desc_edit_label" for="input-length">{{ entry_dimension }}</label>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                      <input type="text" name="length" value="{{ length }}" placeholder="{{ entry_length }}" id="input-length" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                      <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                      <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-3 desc_edit_label" for="input-length-class">{{ entry_length_class }}</label>
            <div class="col-sm-9">
                <select name="length_class_id" id="input-length-class" class="form-control">
                    {% for length_class in length_classes %} 
                    {% if (length_class['length_class_id'] == length_class_id) %} 
                    <option value="{{ length_class['length_class_id'] }}" selected="selected">{{ length_class['title'] }}</option>
                    {% else %} 
                    <option value="{{ length_class['length_class_id'] }}">{{ length_class['title'] }}</option>
                    {% endif %} 
                    {% endfor %} 
                </select>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-3 desc_edit_label" for="input-weight">{{ entry_weight }}</label>
            <div class="col-sm-9">
                <input type="text" name="weight" value="{{ weight }}" placeholder="{{ entry_weight }}" id="input-weight" class="form-control" />
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-3 desc_edit_label" for="input-weight-class">{{ entry_weight_class }}</label>
            <div class="col-sm-9">
                <select name="weight_class_id" id="input-weight-class" class="form-control">
                    {% for weight_class in weight_classes %} 
                    {% if (weight_class['weight_class_id'] == weight_class_id) %} 
                    <option value="{{ weight_class['weight_class_id'] }}" selected="selected">{{ weight_class['title'] }}</option>
                    {% else %} 
                    <option value="{{ weight_class['weight_class_id'] }}">{{ weight_class['title'] }}</option>
                    {% endif %} 
                    {% endfor %} 
                </select>
             </div>
        </div>
		<div class="form-group">
            <label class="col-sm-3 desc_edit_label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-9">
                <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="" id="input-sort-order" class="form-control" />
            </div>
        </div>
	</form>
	<div class="row mtb10">
		<div class="col-xs-12 text-center">
			<button class="btn-editor btn-primary-editor" type="button" data-toggle="collapse" data-target="#change_edit_data_product" aria-expanded="false" aria-controls="collapseExample">
			{{ button_last_change }}
			</button>
		</div>
	</div>
	<div class="row collapse" id="change_edit_data_product">
		<div class="col-xs-12 table-responsive">
			<table class="table table-bordered" style="background:#fff;">
				<thead>
				  <tr>
					<th class="text-center"><div><span>{{ ch_user }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_model }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_sku }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_upc }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_location }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_tax_class }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_quantity }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_minimum }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_subtract }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_stock_status }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_lwh }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_length_class }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_weight }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_weight_class }}</span></div></th>
					<th class="text-center"><div><span>{{ ch_date }}</span></div></th>
				  </tr>
				</thead>
				<tbody>
				{% set i=0 %}
					{% for result in change_edit_code %} 
						{% if (i >= 10) %} 
						<tr>
							<td class="text-center"><div class="ch-user-name">{{ result['user_name'] }}{% endif %}</div></label></td>
							<td class="text-center w20">
							{% if (result['model_product'] != '') %} 
								<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
							{% else %} 
								<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
							{% endif %} 
							</td>
							<td class="text-center w20">
							{% if (result['sku_product'] != '') %} 
								<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
							{% else %} 
								<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
							{% endif %} 
							</td>
							<td class="text-center w20">
							{% if (result['upc_product'] != '') %} 
								<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
							{% else %} 
								<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
							{% endif %} 
							</td>
							<td class="text-center w20">
							{% if (result['location'] != '') %} 
								<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
							{% else %} 
								<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
							{% endif %} 
							</td>
							<td class="text-center w20">
							{% if (result['tax_class'] != '') %} 
								<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
							{% else %} 
								<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
							{% endif %} 
							</td>
							<td class="text-center w20">
							{% if (result['quantity'] != '') %} 
								<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
							{% else %} 
								<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
							{% endif %} 
							</td>
							<td class="text-center w20">
							{% if (result['minimum'] != '') %} 
								<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
							{% else %} 
								<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
							{% endif %} 
							</td>
							<td class="text-center w20">
							{% if (result['subtract'] != '') %} 
								<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
							{% else %} 
								<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
							{% endif %} 
							</td>
							<td class="text-center w20">
							{% if (result['stock_status'] != '') %} 
								<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
							{% else %} 
								<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
							{% endif %} 
							</td>							
							<td class="text-center w20">
							{% if (result['lwh'] != '') %} 
								<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
							{% else %} 
								<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
							{% endif %} 
							</td>
							<td class="text-center w20">
							{% if (result['length_class'] != '') %} 
								<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
							{% else %} 
								<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
							{% endif %} 
							</td>
							<td class="text-center w20">
							{% if (result['weight'] != '') %} 
								<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
							{% else %} 
								<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
							{% endif %} 
							</td>
							<td class="text-center w20">
							{% if (result['weight_class'] != '') %} 
								<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
							{% else %} 
								<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
							{% endif %} 
							</td>							
							<td class="text-center">{{ result['date_modified'] }}</td>
						</tr>
					{% set i = i + 1 %}
				{% endfor %} 
				</tbody>
			</table>
		</div>
	</div>	
	<div class="text-right">
		<button onclick="$('.popup_banner').popup('hide');" class="btn-editor btn-cancel-editor" type="button">{{ button_cancel }}</button>
		<button onclick="saveEditorData();" class="btn-editor btn-save-editor" type="button">{{ button_save }}</button>
	</div>
<script type="text/javascript">
function saveEditorData() {
	$.ajax({
			url: 'index.php?route=module/editproduct/editcode/saveEditorData&product_id={{ product_id }}',
			type: 'post',
			dataType: 'json',
			data: $('#code-form').serialize(),
			beforeSend: function() {
				$('.popup-alert').remove();
				$('#code-form').prepend('<div id="loading_img_svg"></div>');
				$('#code-form').css('opacity',0.5);
				loading_img_svg(true);
			},
			complete: function() {
				loading_img_svg(false);
				$('#code-form').css('opacity',1);
			},
			success: function(json) {
				$('.popup-alert').remove();
				if (json['error']) {
					$('#code-form').before('<div class="popup-alert alert alert-danger"><i class="fa fa-info-circle"></i> '+ json['error'] +' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}
				if (json['success']) {
					$('#code-form').before('<div class="popup-alert alert alert-success"><i class="fa fa-info-circle"></i> '+ json['success'] +' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				location.reload();
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});	
};
</script>
</div>