<div id="popup-editor-product">
	<div class="title-editor">{{ text_description }}</div>
	<form action="POST" method="post" enctype="multipart/form-data" id="description-form" class="form-horizontal">
		<input type="hidden" name="user_change" value="{{ user_change }}">
		
		
		<div class="tabs-product">
			<ul class="nav mytabs" id="language_desc">
				 {% for language in languages %} 
				<li><a href="#language{{ language['language_id'] }}" data-toggle="tab"><img src="admin/language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /> {{ language['name'] }}</a></li>
				{% endfor %} 
			</ul>
			<div class="tab-content">
					{% for language in languages %} 
						<div class="tab-pane" id="language{{ language['language_id'] }}">
							
							<div class="form-group">
								<label class="col-sm-3 desc_edit_label">{{ entry_name }}</label>
								<div class="col-sm-9">
									<input class="form-control" type="text" id="this_keywords" name="product_description[{{ language['language_id'] }}][name]" value="{{ product_description[language['language_id']] is defined ? product_description[language['language_id']]['name'] : '' }}" />
								</div>
							</div>
							<div class="form-group required">
						<label class="col-sm-3 desc_edit_label" for="input-meta-title{{ language['language_id'] }}">{{ entry_meta_title }}</label>
						<div class="col-sm-9">
						  <input type="text" name="product_description[{{ language['language_id'] }}][meta_title]" value="{{ product_description[language['language_id']] is defined ? product_description[language['language_id']]['meta_title'] : '' }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language['language_id'] }}" class="form-control" />
						  {% if (error_meta_title[language['language_id']] is defined) %} 
						  <div class="text-danger">{{ error_meta_title[language['language_id']] }}</div>
						  {% endif %} 
						</div>
					  </div>
							<div class="form-group">
								<label class="col-sm-3 desc_edit_label">{{ entry_meta_keyword }}</label>
								<div class="col-sm-9">
									<input class="form-control" type="text" name="product_description[{{ language['language_id'] }}][meta_keyword]" value="{{ product_description[language['language_id']] is defined ? product_description[language['language_id']]['meta_keyword'] : '' }}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 desc_edit_label">{{ entry_meta_description }}</label>
								<div class="col-sm-9">
									<textarea class="form-control" name="product_description[{{ language['language_id'] }}][meta_description]" rows="2" rows="2">{{ product_description[language['language_id']] is defined ? product_description[language['language_id']]['meta_description'] : '' }}</textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 desc_edit_label">{{ entry_tag }}</label>
								<div class="col-sm-9">
									<input class="form-control" type="text" name="product_description[{{ language['language_id'] }}][tag]" value="{{ product_description[language['language_id']] is defined ? product_description[language['language_id']]['tag'] : '' }}" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<textarea class="form-control" name="product_description[{{ language['language_id'] }}][description]" id="input-description{{ language['language_id'] }}">{{ product_description[language['language_id']] is defined ? product_description[language['language_id']]['description'] : '' }}</textarea>
								</div>
							</div>
							 
							
						</div>
					{% endfor %}				
			</div>
		</div>
	</form>
	<div class="row mtb10">
		<div class="col-xs-12 text-center">
			<button class="btn-editor btn-primary-editor" type="button" data-toggle="collapse" data-target="#change_edit_descs" aria-expanded="false" aria-controls="collapseExample">
			{{ button_last_change }}
			</button>
		</div>
	</div>
	<div class="row collapse" id="change_edit_descs">
	<div class="col-xs-12">
	<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="text-center">{{ ch_user }}</th>
        <th class="text-center">{{ ch_prname }}</th>
        <th class="text-center">{{ ch_meta_title }}</th>
        <th class="text-center">{{ ch_meta_keyword }}</th>
        <th class="text-center">{{ ch_meta_description }}</th>
        <th class="text-center">{{ ch_tag }}</th>
        <th class="text-center">{{ ch_description }}</th>
        <th class="text-center">{{ ch_date }}</th>
      </tr>
    </thead>
    <tbody>
	{% set i=0 %}
		{% for change_edit_desc in change_edit_descs %} 
			{% if (i >= 10) %} 
			<tr>
				<td class="text-center"><div class="ch-user-name">{{ change_edit_desc['user_name'] }}{% endif %}</div></label></td>
				<td class="text-center">{% if (change_edit_desc['product_name'] != '') %} 
					<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
				{% else %} 
					<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
				{% endif %} 
				</td>
				<td class="text-center">{% if (change_edit_desc['seo_title'] != '') %} 
					<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
				{% else %} 
					<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
				{% endif %} 
				</td>
				<td class="text-center">{% if (change_edit_desc['meta_keyword'] != '') %} 
					<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
				{% else %} 
					<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
				{% endif %} 
				</td>
				<td class="text-center">{% if (change_edit_desc['meta_description'] != '') %} 
					<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
				{% else %} 
					<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
				{% endif %} 
				</td>
				<td class="text-center">{% if (change_edit_desc['tag'] != '') %} 
					<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
				{% else %} 
					<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
				{% endif %} 
				</td>
				<td class="text-center">{% if (change_edit_desc['description'] != '') %} 
					<i class="fa fa-check-square-o ch-green" aria-hidden="true"></i>
				{% else %} 
					<i class="fa fa-minus-square ch-red" aria-hidden="true"></i>
				{% endif %} 
				</td>
				<td class="text-center">{{ change_edit_desc['date_modified'] }}</td>
			</tr>
		{% set i = i + 1 %}
	{% endfor %} 
    </tbody>
  </table>
	</div>
</div>
	<div class="text-right">
		<button onclick="$('.popup_banner').popup('hide');" class="btn-editor btn-cancel-editor" type="button">{{ button_cancel }}</button>
		<button onclick="CKupdate();saveEditor();" class="btn-editor btn-save-editor" type="button">{{ button_save }}</button>
	</div>
</div>
<script type="text/javascript">
function CKupdate(){
    for ( instance in CKEDITOR.instances )
        CKEDITOR.instances[instance].updateElement();
}
</script>
<script type="text/javascript">
function saveEditor() {
	$.ajax({
			url: 'index.php?route=module/editproduct/editdescription/saveEditor&product_id={{ product_id }}',
			type: 'post',
			dataType: 'json',
			data: $('#description-form').serialize(),
			beforeSend: function() {
				$('.popup-alert').remove();
				$('#description-form').prepend('<div id="loading_img_svg"></div>');
				$('#description-form').css('opacity',0.5);
				loading_img_svg(true);
			},
			complete: function() {
				loading_img_svg(false);
				$('#description-form').css('opacity',1);
			},
			success: function(json) {				
				$('.popup-alert').remove();
				if (json['error']) {
					$('#description-form').before('<div class="popup-alert alert alert-danger"><i class="fa fa-info-circle"></i> '+ json['error'] +' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}
				if (json['success']) {
					$('#description-form').before('<div class="popup-alert alert alert-success"><i class="fa fa-info-circle"></i> '+ json['success'] +' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				location.reload();
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});	
};
</script>
<style>
	
	.note-toolbar.btn-toolbar {
		background: #fff none repeat scroll 0 0;
	}
	.note-editable {
		background: #fff none repeat scroll 0 0;
	}
	.note-editor	.btn-sm, .btn-group-sm > .btn {
	  border-radius: 2px;
	  font-size: 11px;
	  line-height: 1.5;
	  padding: 4px 9px;
	  background:#ffffff;
	}
	.note-editor .btn-toolbar {
		margin-left: 0px;
	}
</style>
<script type="text/javascript" src="catalog/view/editproduct/ckeditor454/ckeditor.js"></script>
<script type="text/javascript"><!--
{% for language in languages %} 
CKEDITOR.replace('input-description{{ language['language_id'] }}');
CKEDITOR.on('dialogDefinition', function (event){
    var editor = event.editor;
    var dialogDefinition = event.data.definition;
    var dialogName = event.data.name;
    var tabCount = dialogDefinition.contents.length;
    for (var i = 0; i < tabCount; i++) {
		var browseButton = dialogDefinition.contents[i].get('browse');
        if (browseButton !== null) {
            browseButton.hidden = false;
            browseButton.onClick = function() {
				$('#modal-image').remove();
				$.ajax({
					url: 'index.php?route=common/filemanagernew&token={{ token }}&ckedialog='+this.filebrowser.target,
					dataType: 'html',
					success: function(html) {
						$('body').append('<div id="modal-image" style="z-index: 10020;" class="modal">' + html + '</div>');
						$('#modal-image').modal('show');
					}
				});	
			}
        }
    }
});
{% endfor %} 
//--></script> 
<script type="text/javascript">
$('#language_desc a:first').tab('show');
</script> 
