{% set gen_carousel_module = random(100) %}
<div class="row banner-blocks-container banner-block-{{ gen_carousel_module }}">
	{% for block in blocks %} 
	<div class="col-sm-12 col-sm-4 col-md-{{ banner_column }}">
		<div class="banner-item {% if ((block.popup == '1') and (block.link[language_id] != '') or (block.popup == '0') and (block.link[language_id] != '')) %}is_a_link{% endif %}" {% if ((block.popup == '1') and (block.link[language_id] != '')) %} onclick="banner_link_open('{{ block.link[language_id]}}')"{% elseif ((block.popup == '0') and (block.link[language_id] != '')) %} onclick="location='{{ block.link[language_id] }}'"{% endif %}>
				<div class="banner-image">
					<img src="{{ block.image }}" alt="{{ block.title[language_id] }}"/>
				</div>
				<div class="banner-info">
					<div class="banner-title">{{ block.title[language_id] }}</div>
					<div class="banner-description">{{ block.description[language_id] }}</div>
				</div>			
		</div>
	</div>
	{% endfor %} 
<script>
$(document).ready(function() {
	banner_cols = $('#column-right, #column-left,.position-no-owl').length;
	if ($(".banner-block-{{ gen_carousel_module }}").parents("#column-left, #column-right, .position-no-owl").length) {
		$('.banner-block-{{ gen_carousel_module }} > div').addClass("col-md-12");
	} else {
		$('.banner-block-{{ gen_carousel_module }} > div').addClass("col-md-4");
	}
});
</script>
</div>

