<div class="cmb">
<div class="title-module"><span>{{ heading_title }}</span></div>
<div class="row">
 {% for article in articles %}
  <div class="product-layout ns-blog col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ article.href }}"><img src="{{ article.thumb }}" alt="{{ article.name }}" title="{{ article.name }}" class="img-responsive" /></a></div>
      <div class="caption">
			<div class="ns-blog-name"><h4><a href="{{ article['href'] }}">{{ article['name'] }}</a></h4></div>
			<div class="ns-blog-description">{{ article['description'] }}</div>
		   <div class="flex-box">
			<div class="article-viewed"><i class="fa fa-eye"></i> {{ article["viewed"] }}</div>
			<div class="article-date-added">{{ article["date_added"] }}</div>
		   </div>
        {% if article.rating %}
       <div class="rating">
		<span class="rating-box">
          {% set i = 1 %}{% for i in i..5 %} 
          {% if (article.rating < i) %} 
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %} 
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %} 
          {% endfor %} 
		  </span> 
        </div>
        {% endif %}
      </div>
	  <div class="button-group">
        <button class="btn btn-more" type="button" onclick="location.href = ('{{ article.href }}');"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_more }}</span></button>
     </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
