{% if question_answer %}
	{% for result in question_answer %}
		<div class="info-client">
			<div class="client-name"><i class="fa fa-user" aria-hidden="true"></i> {{ result.name_field }}</div>
			<div class="client-date-added">{{ result.date_added }}</div>
		</div>
		<div class="question-client">{{ result.comment_field }}</div>
		{% if (result.comment_manager != '') %}<div class="answer-admin"><span><i class="fa fa-reply fa-rotate-180" aria-hidden="true"></i> {{ text_answer_admin }}</span>{{ result.comment_manager }}</div>{% endif %} 
	{% endfor %} 
{% else %} 
{{ text_no_question }}
{% endif %} 


<div class="pagination_question">
	<div class="text-right">{{ pagination }}</div>
	<div class="text-right">{{ results }}</div>
	<div class="text-center"><button class="btn btn-primary" onclick="$('#form-question-answer').slideToggle();">{{ text_write_a_question }}</button></div>
</div>
<form class="form-horizontal well well-sm" id="form-question-answer">
	{% if (qadata.name_field is defined) %} 
		<div class="form-group {{ qadata.name_field_required is defined ? 'sections_block_rquaired' : 'sections_block' }}">
			<div class="col-xs-12">
			<div class="input-group margin-bottom-sm">
				<span class="input-group-addon"><i class="icon-append-1 fa fa-user fa-fw"></i></span>
				<input id="contact-name" class="form-control contact-name" type="text" placeholder="{{ qadata.name_field_placeholder[lang_id] is defined ? qadata.name_field_placeholder[lang_id].text : '' }}" value="{{ name_field }}" name="name_field">		
			</div>
			</div>
		</div>
		{% endif %} 
		{% if (qadata.telephone_field is defined) %} 
		<div class="form-group {{ qadata.telephone_field_required is defined ? 'sections_block_rquaired' : 'sections_block' }}">
			<div class="col-xs-12">
			<div class="input-group margin-bottom-sm">	
				<span class="input-group-addon"><i class="icon-append-1 fa fa-phone-square fa-fw"></i></span>
				<input id="contact-telephone" class="form-control contact-telephone" type="text" placeholder="{{ qadata.telephone_field_placeholder[lang_id] is defined ? qadata.telephone_field_placeholder[lang_id].text : '' }}" value="{{ telephone_field }}" name="telephone_field">						
			</div>
			</div>
		</div>
		{% endif %} 
		{% if (qadata.email_field is defined) %} 
		<div class="form-group {{ qadata.email_field_required is defined ? 'sections_block_rquaired' : 'sections_block' }}">
			<div class="col-xs-12">
				<div class="input-group margin-bottom-sm">	
					<span class="input-group-addon"><i class="icon-append-1 fa fa-envelope-o fa-fw"></i></span>
					<input id="contact-email" class="form-control contact-email" type="text" placeholder="{{ qadata.email_field_placeholder[lang_id] is defined ? qadata.email_field_placeholder[lang_id].text : '' }}" value="{{ email_field }}" name="email_field">		
				</div>			
			</div>			
		</div>
		{% endif %} 
		<div class="form-group required">
		<div class="col-xs-12">
			<label class="control-label" for="input-comment-field">{{ entry_question }}</label>
            <textarea name="comment_field" rows="5" id="input-comment-field" class="form-control"></textarea>
            <div class="help-block">{{ text_note_html }}</div>
        </div>
        </div>
		{% if (text_agree) %} 
        <div class="col-xs-12 text-center">
		  {{ text_agree }}          
            <input type="checkbox" name="agree" value="1" />
			<div class="error_agree"></div>
        </div>
		{% endif %} 
	{% if (qadata.captcha_field is defined) %}
	{{ captcha }}
	{% endif %} 
	<div class="buttons clearfix">
        <div class="pull-right">
            <button type="button" id="button-question-answer" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ add_question }}</button>
		</div>
     </div>
	<input type="hidden" name="qa_product_id" value="{{ product_id }}"/>
		
</form>
<script>
	$(document).ready(function() {
		{% if (qadata.telephone_field_mask != '') %} 
			$("#contact-telephone").mask("{{ qadata.telephone_field_mask }}");
		{% endif %} 
	});		
		$('#button-question-answer').on('click', function() {
			$.ajax({
				url: 'index.php?route=extension/module/question_answer/validateForm',
				type: 'post',
				data: $('#form-question-answer input, #form-question-answer textarea').serialize(),
				dataType: 'json',
				beforeSend: function() {
					$('#button-question-answer').button('loading');
				},
				complete: function() {
					$('#button-question-answer').button('reset');
				},
				success: function(json) {
				$('.alert').remove();
				$('.loading_masked').remove();				
				$('#contact-name').removeClass('error_input');				
				$('#contact-telephone').removeClass('error_input');			
				$('#contact-comment').removeClass('error_input');				
				$('#contact-link').removeClass('error_input');
				$('.text-danger').empty();
				if (json['error']) {
					if (json['error']['name_field']) {						
						$('#contact-name').attr('placeholder',json['error']['name_field']);
						$('#contact-name').addClass('error_input');							
					}										
					if (json['error']['telephone_field']) {						
						$('#contact-telephone').attr('placeholder',json['error']['telephone_field']);
						$('#contact-telephone').addClass('error_input');									
					}											
					if (json['error']['comment_field']) {
						$('#form-question-answer').before('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['comment_field'] + '</div>');									
					}
					if (json['error']['captcha']) {
						$('#form-question-answer').before('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['captcha'] + '</div>');	
					}						
					if (json['error']['email_field']) {						
						$('#contact-email').attr('placeholder',json['error']['email_field']);
						$('#contact-email').addClass('error_input');						
					}
					if (json['error']['error_agree']) {
						$('.error_agree').append('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['error_agree'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');	
					}
				}
					if (json['success']) {
						$('#question-answer').append('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
						$('#form-question-answer').slideToggle();
						$('#form-question-answer').val('');
					}					
				}
			});
		});
	</script>