<footer>
<div class="footer-top">
<div class="container">
	{% if config_on_off_footer_ribbon == '1' %}
		<div class="footer-ribbon">
			<span>{{ config_footer_ribbon[lang_id].config_footer_ribbon}}</span>
		</div>
	{% endif %}
	<div class="row banner-footer">
		{% for banner_items_footer in banner_items_footers %}
		<div class="col-sm-6 col-md-3">
			<div class="block-banner-footer  {% if ((banner_items_footer.popup == '1') and (banner_items_footer.link) or (banner_items_footer.popup == '0') and (banner_items_footer.link)) %}is_a_link{% endif %}" {% if ((banner_items_footer.popup == '1') and (banner_items_footer.link)) %} onclick="banner_link_open('{{ banner_items_footer.link}}')"{% elseif ((banner_items_footer.popup == '0') and (banner_items_footer.link)) %}onclick="location='{{ banner_items_footer.link }}'" {% endif %}>
					<div class="icon-banner-footer">
					<i class="{{ banner_items_footer['icon_image']}}"></i>
				</div>
				<div class="text-footer-banner">
					<div class="banner-title-footer"><h3>{{ banner_items_footer.title[lang_id] }}</h3></div>
					<span class="banner-description-footer">{{ banner_items_footer.description[lang_id] }}</span>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="container">
	<div class="row">
		 {% if (footer_desc_status == 1) %}
            <div class="col-xs-12 col-sm-6 {% if (footer_map_status == 'off') %}col-md-9{% else %}col-md-4{% endif %}">
                <h3>{{ about_us }}</h3>
                <div class="description_store_footer">{{ description_store_footer[lang_id].config_description_store_footer }}</div>
                {% if (config_social_footer) %}
                <div class="social_footer">
                    <ul class="list-unstyled">
                            <li>
                            {% for config_social_footer in config_social_array_footer %}
                                <a target="_blank" href="{% if (config_social_footer['social_link_footer']) %}//{{ config_social_footer['social_link_footer'] }}{% else %}javascript:void(0);{% endif %}"><img src="{{ config_social_footer['icon_footer_social'] }}" alt="" title=""></a>
                            {% endfor %}
                            </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        {% endif %}
		<div class="col-xs-12 col-sm-6 col-md-3">
		{% if (phones_footer is not empty) %}
        <h3>{{ text_contact_footer }}</h3>
        {% endif %}
		<ul class="list-unstyled">
            {% if (phones_footer) %}
        {% for phone_footer in phones_footer %}
          {% if (phone_footer['type'] is not empty) %}
          <li><a {{ phone_footer['type'] }}><i class="{{ phone_footer['icon_footer_phone'] }} fa-width"></i> {{ phone_footer['phone_footer'] }}</a></li>
          {% else %}
          <li><i class="{{ phone_footer['icon_footer_phone'] }} fa-width"></i> {{ phone_footer['phone_footer'] }}</li>
          {% endif %}
        {% endfor %}
      {% endif %}
        </ul>
		</div>
		<div class="col-xs-12 col-sm-12 {% if (footer_desc_status == 0) %}col-md-9{% else %}col-md-5{% endif %}">
      {% if (footer_map_status == 'codemap') %}{{ code_map }}{% endif %}
      {% if (footer_map_status == 'gmap') %}
            <div id="gmap_footer"></div>
      {% endif %}
        </div>
	</div>
</div>
</div>
<div class="footer-center">
<div class="container">
    <div class="row">
      {% if (informations) %}
      <div class="col-sm-6 col-md-3">
       <h3>{% if (fcols['column_1'][lang_id]['icon_image'] is defined and (fcols['column_1'][lang_id]['icon_image'] != '')) %}<i class="{{ fcols['column_1'][lang_id]['icon_image'] }}"></i> {% endif %}
		{{ fcols['column_1'][lang_id]['name_column'] is defined ? fcols['column_1'][lang_id]['name_column'] : '' }}</h3>
        <ul class="list-unstyled">
          {% for information in informations %}
          <li><a href="{{ information['href'] }}">{{ information['title'] }}</a></li>
          {% endfor %}
        </ul>

      </div>
      {% endif %}
      <div class="col-sm-6 col-md-3">
        <h3>{% if (fcols['column_2'][lang_id]['icon_image'] is defined and (fcols['column_2'][lang_id]['icon_image'] != '')) %}<i class="{{ fcols['column_2'][lang_id]['icon_image'] }}"></i> {% endif %}
		{{ fcols['column_2'][lang_id]['name_column'] is defined ? fcols['column_2'][lang_id]['name_column'] : '' }}</h3>
        <ul class="list-unstyled">
			{% if (fcols['link_manufacturer'] is defined) %}<li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>{% endif %}
			{% if (fcols['link_voucher'] is defined) %}<li><a href="{{ voucher }}">{{ text_voucher }}</a></li>{% endif %}
			{% if (fcols['link_affiliate'] is defined) %}<li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>{% endif %}
			{% if (fcols['link_special'] is defined) %}<li><a href="{{ special }}">{{ text_special }}</a></li>{% endif %}
			{% if (footer_links) %}
				{% for result in footer_links %}
					{% if (result['column_link'] == 2) %}
						<li><a href="{{ result['link'] }}">{{ result['title'] }}</a></li>
					{% endif %}
				{% endfor %}
			{% endif %}
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3>{% if (fcols['column_3'][lang_id]['icon_image'] is defined and (fcols['column_3'][lang_id]['icon_image'] != '')) %}<i class="{{ fcols['column_3'][lang_id]['icon_image'] }}"></i> {% endif %}
		{{ fcols['column_3'][lang_id]['name_column'] is defined ? fcols['column_3'][lang_id]['name_column'] : '' }}</h3>
        <ul class="list-unstyled">
			{% if (fcols['link_account'] is defined) %}<li><a href="{{ account }}">{{ text_account }}</a></li>{% endif %}
			{% if (fcols['link_order'] is defined) %}<li><a href="{{ order }}">{{ text_order }}</a></li>{% endif %}
			{% if (fcols['link_wishlist'] is defined) %}<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>{% endif %}
			{% if (fcols['link_newsletter'] is defined) %}<li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>{% endif %}
			{% if (footer_links) %}
				{% for result in footer_links %}
					{% if (result['column_link'] == 3) %}
						<li><a href="{{ result['link'] }}">{{ result['title'] }}</a></li>
					{% endif %}
				{% endfor %}
			{% endif %}
        </ul>
      </div>
		<div class="col-sm-6 col-md-3">
		<h3>{% if (fcols['column_4'][lang_id]['icon_image'] is defined and (fcols['column_4'][lang_id]['icon_image'] != '')) %}<i class="{{ fcols['column_4'][lang_id]['icon_image'] }}"></i> {% endif %}
		{{ fcols['column_4'][lang_id]['name_column'] is defined ? fcols['column_4'][lang_id]['name_column'] : '' }}</h3>
        <ul class="list-unstyled">
			{% if (fcols['link_contact'] is defined) %}<li><a href="{{ contact }}">{{ text_contact }}</a></li>{% endif %}
			{% if (fcols['link_return'] is defined) %}<li><a href="{{ return }}">{{ text_return }}</a></li>{% endif %}
			{% if (fcols['link_sitemap'] is defined) %}<li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>{% endif %}
			{% if (footer_links) %}
				{% for result in footer_links %}
					{% if (result['column_link'] == 4) %}
						<li><a href="{{ result['link'] }}">{{ result['title'] }}</a></li>
					{% endif %}
				{% endfor %}
			{% endif %}
        </ul>
		</div>
    </div>
  </div>
  </div>
<div class="footer-bottom">
<div class="container">
	<div class="row">
		<div class="col-sm-9">
			{% if (config_payments_footer) %}
			<ul class="list-unstyled">
					<li>
					{% for config_payments_footer in config_payments_array_footer %}
						<a target="_blank" href="{% if (config_payments_footer['payments_link_footer']) %}//{{ config_payments_footer['payments_link_footer']}}{% else %} javascript:void(0);{% endif %}"><img src="{{ config_payments_footer['icon_footer_payments'] }}" alt="" title=""></a>
					{% endfor %}
					</li>
			</ul>
			{% endif %}
		</div>
		<div class="col-sm-3">
			<p>{{ powered_new }}</p>
		</div>
		{{ config_ns_footer_counters }}
	</div>
</div>
</div>
{% if (footer_map_status == 'gmap') %}
<script src="//maps.google.com/maps/api/js?key={{ google_api_map_key }}"></script>
<script async src="catalog/view/theme/newstore/js/markerclusterer.js"></script>
<script async src="catalog/view/theme/newstore/js/FullScreenControl.js"></script>
<script>
function initialize() {
	var myLatlng = new google.maps.LatLng({{ center_google_map }});
	var myOptions = {
		zoom: {{ zoom_google_map }},
		center: myLatlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}
	var map = new google.maps.Map(document.getElementById("gmap_footer"), myOptions);
	map.controls[google.maps.ControlPosition.TOP_RIGHT].push(FullScreenControl(map, '<span class="open-full-screen">{{ gmap_full_screen }}</span>','<span class="normal-screen">{{ gmap_normal_screen }}</span>'));
	var markers = [];
	myPlaces = [];
	{% for gmap_new in gmap_setting %}
		myPlaces.push(new Place('{{ gmap_new.onelinetext[lang_id] }}', {{ gmap_new['latlong'] }}, '{{ gmap_new.maptext[lang_id] }}'));
	{% endfor %}
for (var i = 0, n = myPlaces.length; i < n; i++) {
	var marker = new google.maps.Marker({
    position: new google.maps.LatLng(myPlaces[i].latitude, myPlaces[i].longitude),
    map: map,
	title: myPlaces[i].name
});
    var infowindow = new google.maps.InfoWindow({
        content: '<div class="title_popap_marker">' + myPlaces[i].name + '</div><div class="description_popap_marker">' + myPlaces[i].description + '</div>'
    });
    makeInfoWindowEvent(map, infowindow, marker);
markers.push(marker);
    }
markerClusterer = new MarkerClusterer(map, markers, {
	maxZoom: 14,
	gridSize: 50,
	styles: null
});
}
function makeInfoWindowEvent(map, infowindow, marker) {
    google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map, marker);
    });
}
function Place(name, latitude, longitude, description){
    this.name = name;
    this.latitude = latitude;
    this.longitude = longitude;
    this.description = description;
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endif %}
</footer>
<script>
function price_format(n){
	c = {{ currency['decimals'] is empty ? "0" : currency['decimals'] }};
	d = '{{ currency['decimal_point'] }}';
	t = '{{ currency['thousand_point'] }}';
	s_left = '{{ currency['symbol_left'] }}';
	s_right = '{{ currency['symbol_right'] }}';
	n = n * {{ currency['value'] }};
	i = parseInt(n = Math.abs(n).toFixed(c)) + '';
	j = ((j = i.length) > 3) ? j % 3 : 0;
	return s_left + (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '') + s_right;
}
</script>
</body></html>