<div class="form-group">
		<label class="col-sm-2 control-label">{{ text_scheme_home_page }}</label>
		<div class="col-sm-10">
			<a class="btn btn-info collapsed" data-toggle="collapse" href="#HomePageScheme">
				<span class="ns_ch_visible"><i class="fa fa-eye fa-fw"></i>{{ text_show_scheme }}</span>
				<span class="ns_ch_hidden"><i class="fa fa-eye-slash fa-fw"></i>{{ text_hidden_scheme }}</span>
				<i class="fa fa-angle-up arr"></i>
			</a>
			
			<div id="HomePageScheme" class="panel-collapse collapse">
				<br>
				<div class="well">
						<div class="row">
							<div class="col-xs-12 ns_block"><div class="thumbnail"><b></b><span>{{ text_scheme_position_header_site }}<br>(header)</span></div></div>
						</div>
						<div class="row">
							<div class="col-xs-3 ns_block"><div class="thumbnail"><b></b><span>{{ text_scheme_position_menu }}</span></div></div>
							<div class="col-xs-9 ns_block"><div class="thumbnail"><b></b><span>{{ text_scheme_position_content_top }}<br>(content_top)</span></div></div>
						</div>
						<div class="row">
							<div class="col-xs-3 ns_block position-ns"><div style="height:136px" class="thumbnail"><span>{{ text_scheme_position_number }}0</span></div></div>
							<div class="col-xs-3 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}17</span></div></div>
							<div class="col-xs-3 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}18</span></div></div>
							<div class="col-xs-3 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}19</span></div></div>
							<div class="col-xs-6 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}20</span></div></div>
							<div class="col-xs-3 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}21</span></div></div>
						</div>
						<div class="row">
							<div class="col-xs-3 ns_block"><div class="thumbnail"><b></b><span>{{ text_scheme_position_column_left }}<br>(column_left)</span></div></div>
							<div class="col-xs-6 ns_block"><div class="thumbnail"><b></b><span>{{ text_scheme_position_content_bottom }}<br>(content_bottom)</span></div></div>
							<div class="col-xs-3 ns_block"><div class="thumbnail"><b></b><span>{{ text_scheme_position_column_right }}<br>(column_right)</span></div></div>
						</div>
						<div class="row">
							<div class="ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}1<br>{{ text_scheme_position_fluid }}</span></div></div>
							
						</div>
						<div class="row">
							<div class="col-xs-6 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}2</span></div></div>
							<div class="col-xs-6 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}3</span></div></div>
						</div>
						<div class="row">
							<div class="col-xs-3 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}4</span></div></div>
							<div class="col-xs-9 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}5</span></div></div>
						</div>
						<div class="row">
							<div class="col-xs-9 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}6</span></div></div>
							<div class="col-xs-3 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}7</span></div></div>
						</div>
						<div class="row">	
							<div class="col-xs-3 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}8</span></div></div>
							<div class="col-xs-3 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}9</span></div></div>
							<div class="col-xs-6 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}10</span></div></div>
						</div>
						<div class="row">
							<div class="col-sm-12 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}22</span></div></div>
						</div>
						<div class="row">
							<div class="col-xs-3 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}11</span></div></div>
							<div class="col-xs-3 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}12</span></div></div>
							<div class="col-xs-3 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}13</span></div></div>
							<div class="col-xs-3 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}14</span></div></div>
						</div>
						<div class="row">
							<div class="col-sm-12 ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}15</span></div></div>
						</div>
						<div class="row">
							<div class="ns_block position-ns"><div class="thumbnail"><b></b><span>{{ text_scheme_position_number }}16<br>{{ text_scheme_position_fluid }}</span></div></div>
						</div>
						<div class="row">
							<div class="col-xs-12 ns_block"><div class="thumbnail" style="margin-bottom:0;"><b></b><span>{{ text_scheme_position_footer_site }}<br>(footer)</span></div></div>
						</div>
	
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">{{ text_additional_modules }}</label>
		<div class="col-sm-10">
			<table id="ns-new-home-module" class="table table-striped table-bordered table-hover">
				<thead style="background:#eee;">
					<tr>
						<td class="nowrap"><i class="fa fa-puzzle-piece fa-fw"></i>{{ additional_column_modules }}</td>
						<td class="nowrap"><i class="fa fa-crosshairs fa-fw"></i>{{ additional_column_position }}</td>
						<td class="nowrap"><i class="fa fa-sort fa-fw"></i>{{ additional_column_sort }}</td>
						<td class="nowrap"><span data-toggle="tooltip" title="{{ help_mob_device }}">{{ text_mob_device }}</span></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					{% set ns_new_home_module_row = 0 %} 
					{% for ns_new_home_layout_module in ns_new_home_layout_modules %} 
					<tr id="ns-new-home-module-row{{ ns_new_home_module_row }}">
						<td>
							<select name="ns_new_home_layout_module[{{ ns_new_home_module_row }}][code]" class="form-control">
								{% for extension in ns_new_home_extensions %} 
								{% if (not extension.module) %} 
								{% if (extension.code == ns_new_home_layout_module.code) %} 
								<option value="{{ extension.code }}" selected="selected">{{ extension.name }}</option>
								{% else %} 
								<option value="{{ extension.code }}">{{ extension.name }}</option>
								{% endif %} 
								{% else %} 
								<optgroup label="{{ extension.name }}">
								{% for module in extension.module %} 
								{% if (module['code'] == ns_new_home_layout_module.code) %} 
								<option value="{{ module.code }}" selected="selected">{{ module.name }}</option>
								{% else %} 
								<option value="{{ module.code }}">{{ module.name }}</option>
								{% endif %} 
								{% endfor %} 
								</optgroup>
								{% endif %} 
								{% endfor %} 
							</select>
						</td>
						<td>
							<select name="ns_new_home_layout_module[{{ ns_new_home_module_row }}][position]" class="form-control">															
								{% if (ns_new_home_layout_module.position == 'position_1') %} 
								<option value="position_0" selected="selected">{{ text_scheme_position_number }}0</option>
								{% else %} 
								<option value="position_0">{{ text_scheme_position_number }}0</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_1') %} 
								<option value="position_1" selected="selected">{{ text_scheme_position_number }}1</option>
								{% else %} 
								<option value="position_1">{{ text_scheme_position_number }}1</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_2') %} 
								<option value="position_2" selected="selected">{{ text_scheme_position_number }}2</option>
								{% else %} 
								<option value="position_2">{{ text_scheme_position_number }}2</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_3') %} 
								<option value="position_3" selected="selected">{{ text_scheme_position_number }}3</option>
								{% else %} 
								<option value="position_3">{{ text_scheme_position_number }}3</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_4') %} 
								<option value="position_4" selected="selected">{{ text_scheme_position_number }}4</option>
								{% else %} 
								<option value="position_4">{{ text_scheme_position_number }}4</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_5') %} 
								<option value="position_5" selected="selected">{{ text_scheme_position_number }}5</option>
								{% else %} 
								<option value="position_5">{{ text_scheme_position_number }}5</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_6') %} 
								<option value="position_6" selected="selected">{{ text_scheme_position_number }}6</option>
								{% else %} 
								<option value="position_6">{{ text_scheme_position_number }}6</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_7') %} 
								<option value="position_7" selected="selected">{{ text_scheme_position_number }}7</option>
								{% else %} 
								<option value="position_7">{{ text_scheme_position_number }}7</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_8') %} 
								<option value="position_8" selected="selected">{{ text_scheme_position_number }}8</option>
								{% else %} 
								<option value="position_8">{{ text_scheme_position_number }}8</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_9') %} 
								<option value="position_9" selected="selected">{{ text_scheme_position_number }}9</option>
								{% else %} 
								<option value="position_9">{{ text_scheme_position_number }}9</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_10') %} 
								<option value="position_10" selected="selected">{{ text_scheme_position_number }}10</option>
								{% else %} 
								<option value="position_10">{{ text_scheme_position_number }}10</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_11') %} 
								<option value="position_11" selected="selected">{{ text_scheme_position_number }}11</option>
								{% else %} 
								<option value="position_11">{{ text_scheme_position_number }}11</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_12') %} 
								<option value="position_12" selected="selected">{{ text_scheme_position_number }}12</option>
								{% else %} 
								<option value="position_12">{{ text_scheme_position_number }}12</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_13') %} 
								<option value="position_13" selected="selected">{{ text_scheme_position_number }}13</option>
								{% else %} 
								<option value="position_13">{{ text_scheme_position_number }}13</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_14') %} 
								<option value="position_14" selected="selected">{{ text_scheme_position_number }}14</option>
								{% else %} 
								<option value="position_14">{{ text_scheme_position_number }}14</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_15') %} 
								<option value="position_15" selected="selected">{{ text_scheme_position_number }}15</option>
								{% else %} 
								<option value="position_15">{{ text_scheme_position_number }}15</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_16') %} 
								<option value="position_16" selected="selected">{{ text_scheme_position_number }}16</option>
								{% else %} 
								<option value="position_16">{{ text_scheme_position_number }}16</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_17') %} 
								<option value="position_17" selected="selected">{{ text_scheme_position_number }}17</option>
								{% else %} 
								<option value="position_17">{{ text_scheme_position_number }}17</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_18') %} 
								<option value="position_18" selected="selected">{{ text_scheme_position_number }}18</option>
								{% else %} 
								<option value="position_18">{{ text_scheme_position_number }}18</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_19') %} 
								<option value="position_19" selected="selected">{{ text_scheme_position_number }}19</option>
								{% else %} 
								<option value="position_19">{{ text_scheme_position_number }}19</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_20') %} 
								<option value="position_20" selected="selected">{{ text_scheme_position_number }}20</option>
								{% else %} 
								<option value="position_20">{{ text_scheme_position_number }}20</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_21') %} 
								<option value="position_21" selected="selected">{{ text_scheme_position_number }}21</option>
								{% else %} 
								<option value="position_21">{{ text_scheme_position_number }}21</option>
								{% endif %} 
								{% if (ns_new_home_layout_module.position == 'position_22') %} 
								<option value="position_22" selected="selected">{{ text_scheme_position_number }}22</option>
								{% else %} 
								<option value="position_22">{{ text_scheme_position_number }}22</option>
								{% endif %} 
							</select>
						</td>
						<td style="max-width:100px;">
							<input type="text" name="ns_new_home_layout_module[{{ ns_new_home_module_row }}][sort_order]" value="{{ ns_new_home_layout_module.sort_order }}" placeholder="" class="form-control" />
						</td>
						<td class="text-center">
							<div class="checkbox-group-pixelshop">
								<label><input type="checkbox" name="ns_new_home_layout_module[{{ ns_new_home_module_row }}][mob_device]" value="1" {% if (ns_new_home_layout_module['mob_device'] is defined and (ns_new_home_layout_module['mob_device'] == 1)) %} checked="checked"{% endif %} /><span></span></label>						 
							</div>
						</td>
						<td>
							<button type="button" onclick="$('#ns-new-home-module-row{{ ns_new_home_module_row }}').remove();" data-toggle="tooltip" title="{{ text_delete }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
						</td>
					</tr>
					{% set ns_new_home_module_row = ns_new_home_module_row + 1 %} 
					{% endfor %} 
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3"></td>
						<td><button type="button" onclick="addNewHomePageModule();" data-toggle="tooltip" title="добавить" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
<script type="text/javascript">
var ns_new_home_module_row = {{ ns_new_home_module_row }};
function addNewHomePageModule() {
html  = '<tr id="new-home-module-row' + ns_new_home_module_row + '">';
html += '  <td><select name="ns_new_home_layout_module[' + ns_new_home_module_row + '][code]" class="form-control">';
{% for extension in ns_new_home_extensions %}    
{% if (not extension.module) %} 
html += '    <option value="{{ extension.code }}">{{ extension.name }}</option>';
{% else %} 
html += '    <optgroup label="{{ extension.name }}">';
{% for module in extension.module %} 
html += '      <option value="{{ module.code }}">{{ module.name }}</option>';
{% endfor %} 
html += '    </optgroup>';
{% endif %} 
{% endfor %} 
html += '  </select></td>'; 
html += '  <td><select name="ns_new_home_layout_module[' + ns_new_home_module_row + '][position]" class="form-control">';
html += '    <option value="position_0">{{ text_scheme_position_number }}0</option>';
html += '    <option value="position_1">{{ text_scheme_position_number }}1</option>';
html += '    <option value="position_2">{{ text_scheme_position_number }}2</option>';
html += '    <option value="position_3">{{ text_scheme_position_number }}3</option>';
html += '    <option value="position_4">{{ text_scheme_position_number }}4</option>';
html += '    <option value="position_5">{{ text_scheme_position_number }}5</option>';
html += '    <option value="position_6">{{ text_scheme_position_number }}6</option>';
html += '    <option value="position_7">{{ text_scheme_position_number }}7</option>';
html += '    <option value="position_8">{{ text_scheme_position_number }}8</option>';
html += '    <option value="position_9">{{ text_scheme_position_number }}9</option>';
html += '    <option value="position_10">{{ text_scheme_position_number }}10</option>';
html += '    <option value="position_11">{{ text_scheme_position_number }}11</option>';
html += '    <option value="position_12">{{ text_scheme_position_number }}12</option>';
html += '    <option value="position_13">{{ text_scheme_position_number }}13</option>';
html += '    <option value="position_14">{{ text_scheme_position_number }}14</option>';
html += '    <option value="position_15">{{ text_scheme_position_number }}15</option>';
html += '    <option value="position_16">{{ text_scheme_position_number }}16</option>';
html += '    <option value="position_17">{{ text_scheme_position_number }}17</option>';
html += '    <option value="position_18">{{ text_scheme_position_number }}18</option>';
html += '    <option value="position_19">{{ text_scheme_position_number }}19</option>';
html += '    <option value="position_20">{{ text_scheme_position_number }}20</option>';
html += '    <option value="position_21">{{ text_scheme_position_number }}21</option>';
html += '    <option value="position_22">{{ text_scheme_position_number }}22</option>';
html += '  </select></td>';
html += '  <td><input type="text" name="ns_new_home_layout_module[' + ns_new_home_module_row + '][sort_order]" value="" placeholder="" class="form-control" /></td>';
html += '<td class="text-center"><div class="checkbox-group-pixelshop"><label><input type="checkbox" name="ns_new_home_layout_module[' + ns_new_home_module_row + '][mob_device]" value="1" /><span></span></label></div></td>';
html += '  <td><button type="button" onclick="$(\'#new-home-module-row' + ns_new_home_module_row + '\').remove();" data-toggle="tooltip" title="удалить" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
html += '</tr>';

$('#ns-new-home-module tbody').append(html);

ns_new_home_module_row++;
}

</script>	