<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td class="text-center" >{{ column_name_seo_template }}</td>
        <td class="text-center" >{{ column_description_seo_template }}</td>
        <td class="text-center">{{ column_action_seo_template }}</td>
      </tr>
    </thead>
    <tbody>
    {% if (seo_tag) %} 
      {% for result in seo_tag %} 
      <tr id="seo_template{{ result['seo_id'] }}">
        <td class="text-center"><input type="text" name="name_seo_template" value="{{ result['name_seo_template'] }}" class="form-control"></td>
        <td class="text-center">
			{% for language in languages %} 
				<div class="input-group"><span class="input-group-addon"><img src="admin/language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
					<input type="text" name="product_description[{{ language['language_id'] }}][tag]" value="{{ result['data_seo_tag'][language['language_id']] is defined ? result['data_seo_tag'][language['language_id']]['tag'] : '' }}" id="input-meta-tag{{ language['language_id'] }}" class="form-control" />
				</div>
			{% endfor %} 
		</td>
		 <td class="text-center">
			<button type="button" data-toggle="tooltip" onclick="saveSeoTagNew('{{ result['seo_id'] }}')" title="{{ button_seo_save }}" class="btn btn-primary-editor"><i class="fa fa-save" aria-hidden="true"></i></button>
			<button type="button" data-toggle="tooltip" onclick="deleteSeoTag('{{ result['seo_id'] }}')" title="{{ button_seo_delete }}" class="btn btn-danger-editor"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
			{% if (result['selected_id'] == '1') %}	
				<button type="button" onclick="applySeoTag('{{ result['seo_id'] }}')" data-toggle="tooltip" title="{{ button_seo_used }}" class="btn btn-success-editor"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
			{% else %} 
				<button type="button" onclick="applySeoTag('{{ result['seo_id'] }}')" data-toggle="tooltip" title="{{ button_seo_use }}" class="btn btn-default-editor"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
			{% endif %} 
		 </td>
      </tr>
      {% endfor %} 
      {% else %} 
        <tr>
          <td class="text-center" colspan="5">{{ text_no_results }}</td>
        </tr>
      {% endif %} 
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>