<div class="form-group">
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-4">
                <select name="round" class="form-control">
                    <option value="">{{ text_noround }}</option>
                    <option value="digitx9">{{ text_digitx9 }}</option>
                    <option value="digit99">{{ text_digit99 }}</option>
                    <option value="digit01">{{ text_digit01 }}</option>
                    <option value="digit001">{{ text_digit001 }}</option>
                    <option value="digit1">{{ text_digit1 }}</option>
                    <option value="digit5">{{ text_digit5 }}</option>
                    <option value="digit9">{{ text_digit9 }}</option>
                    <option value="digit10">{{ text_digit10 }}</option>
                    <option value="digit50">{{ text_digit50 }}</option>
                    <option value="digit90">{{ text_digit90 }}</option>
                    <option value="digit199">{{ text_digit199 }}</option>
                    <option value="digit100">{{ text_digit100 }}</option>
                    <option value="digit500">{{ text_digit500 }}</option>
                    <option value="digit1000">{{ text_digit1000 }}</option>
                    <option value="digit10000">{{ text_digit10000 }}</option>
                    <option value="digit100000">{{ text_digit100000 }}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select name="round_type" class="form-control">
                    <option value="round_default">{{ text_round_default }}</option>
                    <option value="round_ceil">{{ text_round_ceil }}</option>
                    <option value="round_floor">{{ text_round_floor }}</option>
                </select>
            </div>
        </div>
    </div>
</div>