{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
             <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
             <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>


            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                    <li><a href="#tab-log" data-toggle="tab">{{ tab_log }}</a></li>
                    <li><a href="#tab-license" data-toggle="tab">{{ tab_license }}</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab-general">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td class="text-left" width="90%">{{ column_title }}</td>
                                <td class="text-right">{{ column_action }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if methods %}
                                {% for method in methods %}
                                <tr>
                                    <td class="text-left" width="70%">{{ method['title'] }}</td>
                                    <td class="text-right">
                                        <nobr>[ <a href="{{ method['action'] }}">{{ button_edit }}</a> ]</nobr>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>

                    </div>


                    <div class="tab-pane" id="tab-log">
                        <div class="form-group">
                            <textarea wrap="off" rows="15" readonly class="form-control">{{ log }}</textarea>
                        </div>

                        <form class="form-horizontal" action="{{ action }}" method="post" enctype="multipart/form-data" id="form_clear">
                             <button style="margin-right: 10px;" type="button" onclick="$('#form_clear').attr('action', '{{ clear }}' ); $('#form_clear').submit();" class="btn btn-primary pull-left"><i class="fa fa-trash"></i> {{ button_clear }}</button>
                        </form>

                    </div>


                    <div class="tab-pane" id="tab-license">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-10">
                                    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form">
                                        <h3>{{ entry_key }}</h3>
                                        <div style="padding-bottom: 5px;">
                                            <input type="text" name="{{ name }}_license" size="50" value="{{ price_license }}" class="form-control" />
                                        </div>
                                        <button type="button" onclick="$('form#form').submit()" class="btn btn-primary pull-left"><i class="fa fa-save"></i> {{ button_save }}</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10">
                                <div class="row">
                                    <br/>{{ text_notice }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"><!--
    $('.date').datetimepicker({
        pickTime: false
    });

    $('.time').datetimepicker({
        pickDate: false
    });

    $('.datetime').datetimepicker({
        pickDate: true,
        pickTime: true
    });

    function getOptionValues(val) {
        if (val > 0) {
            $('#filter_option_value_id').load('index.php?route=catalog/option/option_value&user_token={{ user_token }}&option_id=' + val);
        }
    }
//-->
</script>

{{ footer }}