{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-reviews-list').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    {% if (success) %} 
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
			<div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-author">{{ entry_name_author }}</label>
                <input type="text" name="filter_author" value="{{ filter_author }}" placeholder="{{ entry_name_author }}" id="input-author" class="form-control" />
              </div>
            </div>
			<div class="col-sm-4">
			   <div class="form-group">
                <label class="control-label" for="input-status">{{ entry_status }}</label>
                <select name="filter_status" id="input-status" class="form-control">
                  <option value="*"></option>
                  {% if filter_status %} 
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %} 
                  <option value="1">{{ text_enabled }}</option>
                  {% endif %} 
				  {% if filter_status|default is null %}
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %} 
                  <option value="0">{{ text_disabled }}</option>
                  {% endif %} 
                </select>
              </div>
            </div>
			<div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-date-added">{{ entry_date_added }}</label>
                <div class="input-group date">
                  <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
            </div>
            <div class="col-sm-12">
             
              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>	
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-reviews-list">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-center">{{ column_name }}</td>
                  <td class="text-center">{{ column_description }}</td>
				  <td class="text-center">{{ column_like_dislike }}</td>
					{% for theme_review_store in theme_reviews_store %} 
					<td class="text-center">{{ theme_review_store['theme_text']}}</td>
					{% endfor %} 
				  <td class="text-center">{{ column_avg_rating }}</td>
				  <td class="text-center">{{ column_status }}</td>
				  <td class="text-center">{{ column_status_check }}</td>
                  <td class="text-center">{{ column_date_added }}</td>
                  <td class="text-center">{{ column_action }}</td>
                </tr>
              </thead>
			  <style>
			  .avg-rating {
					height: 16px;
					line-height: 16px;
					display: inline-block;
					
				}
				
				.avg-rating-stars {
					background:url("view/image/avg-rating/star_empty_m.png") repeat-x;
					width:80px;
					height:16px;
					
				}
				.avg-realrating {
					background:url("view/image/avg-rating/star_m.png") repeat-x;
					height:16px;
				}
				.rating-theme .fa-stack {
					width: 1em;
				}
				.rating-theme .fa-stack-1x {
					font-size: 16px;
				}
				.rating-theme .fa-star {
					color:#ccc;
				}
				.rating-theme .fa-star.active {
					color:#fdf507;
				}
				.btn-like,
				.btn-dislike {
					padding:4px 2px;
					border:0px;
					background:transparent;
					border:1px solid #d9d9d9;
					border-radius:4px;
					margin:0px 2px;
				}
				.btn-like span,
				.btn-dislike span {
					margin-left:5px;
				}
				.btn-like i {
					color:#008000;
					font-size:14px;
				}
				.btn-like span.likes {
					color:#008000;
					font-size:12px;
				}
				.btn-dislike span.dislikes {
					color:#d00000;
					font-size:12px;
				}
				.btn-dislike i {
					color:#d00000;
					font-size:14px;
				}
			  </style>
              <tbody>
                {% if (reviews_store) %} 
                {% for review_store in reviews_store %} 
                <tr>
					<td class="text-center">{% if review_store.reviews_store_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ review_store['reviews_store_id'] }}" checked="checked" />
                    {% else %} 
                    <input type="checkbox" name="selected[]" value="{{ review_store['reviews_store_id'] }}" />
                    {% endif %}</td>
					<td><i class="fa fa-user" aria-hidden="true"></i> {{ review_store['author'] }}</td>
					<td style="max-width:200px;">{{ review_store['description'] }}</td>
					<td class="text-center">
						<div class="like-dislike-box pull-right ">	
							<span class="btn-like like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
								<span class="likes">{{ review_store['like'] }}</span>
							</span>
							<span class="btn-dislike dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
								<span class="dislikes">{{ review_store['dislike'] }}</span>
							</span>							
						</div>
					</td>
					{% for rating_theme in review_store['ratings_theme'] %} 
					<td class="text-center rating-theme">
						{% set i = 1 %}{% for i in i..5 %} 
					  {% if (rating_theme['rating'] < i) %} 
					  <span class="fa fa-stack"><i class="fa fa-star  fa-stack-1x"></i></span>
					  {% else %} 
					  <span class="fa fa-stack"><i class="fa fa-star active fa-stack-1x"></i></span>
					  {% endif %} 
					  {% endfor %} 
					</td>
					{% endfor %} 
					<td class="text-center">
					<div class="avg-rating">
						<div class="avg-rating-stars"><div class="avg-realrating" style="width:{{ review_store['avg_customer_rating']*100/5}}%;"></div></div>
					</div>
					</td>
					<td class="text-center"><a class="columnstatus" id="status-{{ review_store['reviews_store_id'] }}">{{ review_store['status'] }}</a></td>
					<td class="text-center"><a class="columnstatuscheck" id="status_check-{{ review_store['reviews_store_id'] }}">{{ review_store['status_check'] }}</a></td>
					<td class="text-center">{{ review_store['date_added'] }}</td>
					<td class="text-center"><a href="{{ review_store['edit'] }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %} 
                {% else %} 
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
                {% endif %} 
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script><!--
$('.columnstatus').click(function() {
	var object_id=$(this).attr('id');
	$.ajax({
		url: 'index.php?route=catalog/reviews_store/changeStatus&user_token={{ user_token }}',
		type: 'get',
		data: {object_id:object_id},
		dataType: 'html',
		success: function(html) {
			if(html!=''){				
				$('#'+object_id).html(html);
			}
		}
	});
});	
$('.columnstatuscheck').click(function() {
	var object_id=$(this).attr('id');
	$.ajax({
		url: 'index.php?route=catalog/reviews_store/changeStatusCheck&user_token={{ user_token }}',
		type: 'get',
		data: {object_id:object_id},
		dataType: 'json',
		success: function(json) {
			if(json['status']!=''){				
				$('#'+object_id).html(json['status']);
			}
			if(json['countreviewsoff']!=''){				
				$('#count-reviews-store').html(json['countreviewsoff']);
			}
		}
	});
});	
$('#button-filter').on('click', function() {
	url = 'index.php?route=catalog/reviews_store&user_token={{ user_token }}';
	
	var filter_author = $('input[name=\'filter_author\']').val();
	
	if (filter_author) {
		url += '&filter_author=' + encodeURIComponent(filter_author);
	}
	
	var filter_status = $('select[name=\'filter_status\']').val();
	
	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status); 
	}		
			
	var filter_date_added = $('input[name=\'filter_date_added\']').val();
	
	if (filter_date_added) {
		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
	}

	location = url;
});
//--></script>
  <script><!--
$('.date').datetimepicker({
	pickTime: false
});
//--></script>
{{ footer }}