<div id="popup-editor-product">
	<div class="title-editor">{{ entry_filter }}</div>
	  <form class="form-horizontal" id="form-product-filter" enctype="multipart/form-data" method="post">
			<div class="form-group">
				<div class="col-sm-12">
					<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_info_filter }}</div>
				</div>
			</div>
			<div class="form-group">
                <label class="col-sm-3 desc_edit_label" for="input-filter">{{ entry_filter }}</label>
                <div class="col-sm-9">
                  <input type="text" name="filter" value="" placeholder="{{ entry_filter }}" id="input-filter" class="form-control" />
                  <div id="product-filter" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for product_filter in product_filters %} 
                    <div id="product-filter{{ product_filter['filter_id'] }}"><i class="fa fa-minus-circle"></i> {{ product_filter['name'] }} 
                      <input type="hidden" name="product_filter[]" value="{{ product_filter['filter_id'] }}" />
                    </div>
                    {% endfor %} 
                  </div>
                </div>
            </div> 
	  </form>
<div class="text-right">
	<button onclick="$('.popup_banner').popup('hide');groupEditorRefresh();" class="btn-editor btn-cancel-editor" type="button">{{ button_cancel }}</button>
	<button onclick="saveGroupEditor();" data-loading-text="{{ text_loading_editor }}" class="btn-editor btn-save-editor" type="button">{{ button_save }}</button>
</div>	
<script type="text/javascript">
function saveGroupEditor() {	
	$.ajax({
		url: 'index.php?route=module/editproduct/editgroup/changeProductFilterGroup&token={{ token }}',
		type: 'post',
		dataType: 'json',
		data: $('.editor-group-checked-product input.group-editor-checkbox[type=\'checkbox\']:checked, #form-product-filter').serialize(),
		beforeSend: function() {
			$('#popup-editor-product .btn-save-editor').button('loading');
			$('#form-product-filter').prepend('<div id="loading_img_svg"></div>');
			$('#form-product-filter').css('opacity',0.5);
			loading_img_svg(true);
		},
		complete: function() {
			loading_img_svg(false);
			$('#popup-editor-product .btn-save-editor').button('reset');
			$('#form-product-filter').css('opacity',1);
		},
		success: function(json) {
		$('#popup-editor-product .alert.alert-danger, #popup-editor-product .alert.alert-success').remove();
			if (json['warning']) {
				$('#form-product-category').before('<div class="alert alert-danger"><i class="fa fa-check-circle"></i> ' + json['warning'] + '</div>');	
			}
			if (json['success']) {
				$('#form-product-category').before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');			
				setTimeout(function(){	
					location.reload(true);
				}, 500)
			}
		}
	});
}

$('#form-product-filter input[name=\'filter\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=module/editproduct/editgroup/autocompleteFilter&token={{ token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['filter_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter\']').val('');

		$('#product-filter' + item['value']).remove();

		$('#product-filter').append('<div id="product-filter' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_filter[]" value="' + item['value'] + '" /></div>');
	}
});
</script>
</div>