{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-banner-blocks" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb.text }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-xds-coloring-custon-blocks" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if (error_name) %} 
              <div class="text-danger">{{ error_name }}</div>
              {% endif %} 
            </div>
          </div>
    
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if (status) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-banner-column">{{ entry_banner_column }}</label>
            <div class="col-sm-10">
              <select name="banner_column" id="input-banner-column" class="form-control">
                {% if (banner_column == 4) %} 
                <option value="4" selected="selected">3</option>
                <option value="3">4</option>
                {% else %} 
                <option value="4">3</option>
                <option value="3" selected="selected">4</option>
                {% endif %} 
              </select>
            </div>
          </div>
					
					<table id="items" class="table table-bordered table-hover">
						<thead>
							<tr>
								<td>{{ entry_image }}</td>
								<td>{{ entry_title }}</td>
								<td>{{ entry_description }}</td>
								<td>{{ entry_link }}</td>
								<td>{{ text_open_banner_popup }}</td>
								<td>{{ entry_sort_order }}</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
						{% set item_row = 0 %} 
						{% for banner_item in banner_items %} 
							<tr id="item-row{{ item_row }}">
								<td class="text-left">
									<a href="" id="thumb-image{{ item_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ banner_item.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}"  /></a><input type="hidden" name="banner_item[{{ item_row }}][image]" value="{{ banner_item['image'] }}" id="input-image{{ item_row }}" />
								</td>
								<td class="text-left">
									{% for language in languages %} 
									<div class="input-group pull-left">
										<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
										<input class="form-control" type="text" name="banner_item[{{ item_row }}][title][{{ language.language_id }}]" value="{{ banner_item.title[language.language_id] }}" />
									</div>
									{% endfor %} 
								</td>
								<td class="text-left">
									{% for language in languages %} 
									<div class="input-group pull-left">
										<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
										<input class="form-control" type="text" name="banner_item[{{ item_row }}][description][{{ language.language_id }}]" value="{{ banner_item.description[language.language_id] }}" />
									</div>
									{% endfor %} 
								</td>
								<td class="text-left">
									{% for language in languages %} 
									<div class="input-group pull-left">
										<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
											<input class="form-control" type="text" name="banner_item[{{ item_row }}][link][{{ language.language_id }}]" value="{{ banner_item.link[language.language_id] }}" />
									</div>
									{% endfor %} 
								</td>
								<td>
								<div class="form-group">
										<div class="col-sm-12 text-center">
											<div class="radio-group-infinity">	
												{% if (banner_item.popup) %} 
													<input id="config_banner_item_popup_yes_{{ item_row }}" class="hide-radio" type="radio" name="banner_item[{{ item_row }}][popup]" value="1" checked="checked" />
													<label for="config_banner_item_popup_yes_{{ item_row }}">{{ text_yes }}</label>
												{% else %} 
													<input id="config_banner_item_popup_yes_{{ item_row }}" class="hide-radio" type="radio" name="banner_item[{{ item_row }}][popup]" value="1" />
													<label for="config_banner_item_popup_yes_{{ item_row }}">{{ text_yes }}</label>
												{% endif %} 
												{% if (not banner_item.popup) %} 
													<input id="config_banner_item_popup_no_{{ item_row }}" class="hide-radio" type="radio" name="banner_item[{{ item_row }}][popup]" value="0" checked="checked" />							
													<label for="config_banner_item_popup_no_{{ item_row }}">{{ text_no }}</label>
												{% else %} 
													<input id="config_banner_item_popup_no_{{ item_row }}" class="hide-radio" type="radio" name="banner_item[{{ item_row }}][popup]" value="0" />							
													<label for="config_banner_item_popup_no_{{ item_row }}">{{ text_no }}</label>
												{% endif %}						  
											</div>
										</div>
									</div>
								</td>
								<td class="text-left">
									<input  class="form-control" type="text" name="banner_item[{{ item_row }}][sort]" value="{{ banner_item['sort'] }}" />
								</td>
								<td class="text-right">
									<a class="btn btn-danger" onclick="$('#item-row{{ item_row }}').remove();" data-toggle="tooltip" title="{{ button_delete }}"><i class="fa fa-trash-o"></i></a>
								</td>
							</tr>
						{% set item_row = item_row + 1 %} 
						{% endfor %} 
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5"></td>
								<td class="text-right"><a class="btn btn-primary" onclick="addItem();" data-toggle="tooltip" title="{{ button_add }}"><i class="fa fa-plus-circle"></i></a></td>
							</tr>
						</tfoot>
					</table>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var item_row = {{ item_row }};

function addItem() {
  html  = '<tr id="item-row' + item_row + '">';
	html += '<td class="text-left"><a href="" id="thumb-image' + item_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}"  /></a><input type="hidden" name="banner_item[' + item_row + '][image]" value="" id="input-image' + item_row + '" /></td>';
  html += '<td class="text-left">';
	{% for language in languages %} 
	html += '<div class="input-group pull-left"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';
	html += '<input class="form-control" type="text" name="banner_item[' + item_row + '][title][{{ language.language_id }}]" value="" />';
	html += '</div>';
	{% endfor %} 
	html += '</td>';
	html += '<td class="text-left">';
	{% for language in languages %} 
	html += '<div class="input-group pull-left"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';
	html += '<input class="form-control" type="text" name="banner_item[' + item_row + '][description][{{ language.language_id }}]" value="" />';
	html += '</div>';
	{% endfor %} 
	html += '</td>';
	html += '<td class="text-left">';
	{% for language in languages %} 
	html += '<div class="input-group pull-left"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';
	html += '<input class="form-control"  type="text" name="banner_item[' + item_row + '][link][{{ language.language_id }}]" value="" />';
	html += '</div>';
	{% endfor %} 
	html += '</td>';
	html += '<td>';
	html += '<div class="form-group">';
	html += '	<div class="col-sm-12 text-center">';
	html += '	<div class="radio-group-infinity">';
	html += '		<input id="config_banner_item_popup_yes_' + item_row + '" class="hide-radio" type="radio" name="banner_item[' + item_row + '][popup]" value="1"/>';
	html += '		<label for="config_banner_item_popup_yes_' + item_row + '">{{ text_yes }}</label>';
	html += '		<input id="config_banner_item_popup_no_' + item_row + '" class="hide-radio" type="radio" name="banner_item[' + item_row + '][popup]" value="0" checked="checked" />';						
	html += '		<label for="config_banner_item_popup_no_' + item_row + '">{{ text_no }}</label>';									  
	html += '	</div>';
	html += '	</div>';
	html += '</div>';
	html += '</td>';
	html += '<td class="text-left"><input class="form-control" type="text" name="banner_item[' + item_row + '][sort]" size="1" value="" /></td>';
	html += '<td class="text-right"><a class="btn btn-danger" onclick="$(\'#item-row' + item_row  + '\').remove();" data-toggle="tooltip" title="{{ button_delete }}"><i class="fa fa-trash-o"></i></a></td>';
	html += '</tr>'; 
	
	$('#items tbody').append(html);;
	
	item_row++;
}
</script>
<style>
.hide-radio {
	display:none;
}
.radio-group-infinity {
	display: inline-block;
	margin-top: 9px;
	border-radius:15px;
	background-color: white;
	background-image: linear-gradient(to bottom, #eeeeee, white 25px);
	padding:3px;
	box-shadow: 0 -1px white inset, 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.hide-radio + label {
	background: #eceeef none repeat scroll 0 0;
	color: #fff;
	display: block;
	float: left;
	font-family: "Oswald",sans-serif;
	padding: 5px 0;
	text-align: center;
	-webkit-transition: background-image 0.15s ease-in-out;
	-moz-transition: background-image 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-image 0.15s ease-in-out;
	width: 45px;
	margin-bottom:0px;	
	position:relative;
	color:#969696;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset, 0 0 3px rgba(0, 0, 0, 0.2) inset;
	text-shadow:0 1px rgba(255, 255, 255, 0.8);
}
.hide-radio + label:hover {
	box-shadow:2px 3px 3px rgba(0, 0, 0, 0.25) inset;
}
.hide-radio:first-child + label{
	border-radius:15px 0px 0px 15px;
}
.radio-group-infinity > label:last-child{
	border-radius:0px 15px 15px 0px;	
	margin-left:-1px;
}
 
.hide-radio:checked + label {
	background-image: linear-gradient(#47a8d8, #47a8d8);
	display: inline-block;
	margin-bottom:0px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset, 0 0 3px rgba(0, 0, 0, 0.2) inset;
	color:#fff;
	text-shadow:0 1px rgba(0, 0, 0, 0.2);
}

</style>
{{ footer }}