{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-featured" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb.text }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
	   
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-featured" class="form-horizontal">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-general-setting" data-toggle="tab">{{ tab_general_setting }}</a></li>
				<li><a href="#tab-btn-setting" data-toggle="tab">{{ tab_btn_setting }}</a></li>
				<li><a href="#tab-on-off-setting" data-toggle="tab">{{ tab_on_off_setting }}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab-general-setting">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-status">{{ entry_show_nextprev_product }}</label>
					<div class="col-sm-10">
					  <select name="config_quickview_show_nextprev_product" id="input-status" class="form-control">
						{% if (config_quickview_show_nextprev_product) %} 
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
						{% else %} 
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
						{% endif %} 
					  </select>
					</div>
				</div>
		 <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_additional_image }}</label>
            <div class="col-sm-10">
              <select name="config_quickview_additional_image" id="input-status" class="form-control">
                {% if (config_quickview_additional_image) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div> 
		 <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_addtocart }}</label>
            <div class="col-sm-10">
              <select name="config_quickview_addtocart" id="input-status" class="form-control">
                {% if (config_quickview_addtocart) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>  
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_wishlist }}</label>
            <div class="col-sm-10">
              <select name="config_quickview_wishlist" id="input-status" class="form-control">
                {% if (config_quickview_wishlist) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>   
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_compare }}</label>
            <div class="col-sm-10">
              <select name="config_quickview_compare" id="input-status" class="form-control">
                {% if (config_quickview_compare) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div> 
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_tab_description }}</label>
            <div class="col-sm-10">
              <select name="config_quickview_tab_description" id="input-status" class="form-control">
                {% if (config_quickview_tab_description) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_specification }}</label>
            <div class="col-sm-10">
              <select name="config_quickview_tab_specification" id="input-status" class="form-control">
                {% if (config_quickview_tab_specification) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>  
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_review_quickview }}</label>
            <div class="col-sm-10">
              <select name="config_quickview_tab_review_quickview" id="input-status" class="form-control">
                {% if (config_quickview_tab_review_quickview) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div> 
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_options_count }}</label>
            <div class="col-sm-10">
             <input class="form-control" name="config_quickview_options_count"  value="{{ config_quickview_options_count }}"/>
            </div>
          </div> 
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_manufacturer }}</label>
            <div class="col-sm-10">
              <select name="config_quickview_manufacturer" id="input-status" class="form-control">
                {% if (config_quickview_manufacturer) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>  
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_model }}</label>
            <div class="col-sm-10">
              <select name="config_quickview_model" id="input-status" class="form-control">
                {% if (config_quickview_model) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div> 
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_quantity }}</label>
            <div class="col-sm-10">
              <select name="config_quickview_quantity" id="input-status" class="form-control">
                {% if (config_quickview_quantity) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div> 
			<div class="form-group">
					<label class="col-sm-2 control-label">{{ entry_btn_name }}</label>
					<div class="col-sm-5">
					<tr>
						<td class="text-left">{% for language in languages %} 
                        <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                          <input name="config_quickview_btn_name[{{ language.language_id }}][config_quickview_btn_name]" value="{{ config_quickview_btn_name[language.language_id] is defined ? config_quickview_btn_name[language.language_id].config_quickview_btn_name : '' }}" class="form-control" />
                        </div>
                        {% endfor %}</td>
					</tr>
					</div>
			</div>
				</div>
				<div class="tab-pane" id="tab-btn-setting">
			{% if (config_quickview_background_btnaddtocart is empty) %} {% set config_quickview_background_btnaddtocart 			= "#2B8CDB" %}{% endif %}
			{% if (config_quickview_textcolor_btnaddtocart is empty) %} {% set config_quickview_textcolor_btnaddtocart 			= "#FFFFFF" %}{% endif %}
			{% if (config_quickview_background_btnaddtocart_hover is empty) %} {% set config_quickview_background_btnaddtocart_hover 	= "#1c7dcc" %}{% endif %}
			{% if (config_quickview_textcolor_btnaddtocart_hover is empty) %} {% set config_quickview_textcolor_btnaddtocart_hover 	= "#FFFFFF" %}{% endif %}
			{% if (config_quickview_background_btnwishlist is empty) %} {% set config_quickview_background_btnwishlist 			= "#333333" %}{% endif %}
			{% if (config_quickview_textcolor_btnwishlist is empty) %} {% set config_quickview_textcolor_btnwishlist 				= "#FFFFFF" %}{% endif %}
			{% if (config_quickview_background_btnwishlist_hover is empty) %} {% set config_quickview_background_btnwishlist_hover = "#1c7dcc" %}{% endif %}
			{% if (config_quickview_textcolor_btnwishlist_hover is empty) %} {% set config_quickview_textcolor_btnwishlist_hover 	= "#FFFFFF" %}{% endif %}
			{% if (config_quickview_background_btncompare is empty) %} {% set config_quickview_background_btncompare 				= "#333333" %}{% endif %}
			{% if (config_quickview_textcolor_btncompare is empty) %} {% set config_quickview_textcolor_btncompare 				= "#FFFFFF" %}{% endif %}
			{% if (config_quickview_background_btncompare_hover is empty) %} {% set config_quickview_background_btncompare_hover 	= "#1c7dcc" %}{% endif %}
			{% if (config_quickview_textcolor_btncompare_hover is empty) %} {% set config_quickview_textcolor_btncompare_hover 	= "#FFFFFF" %}{% endif %}
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_background_btnaddtocart }}</label>
            <div class="col-sm-10">
             <input class="form-control" type="color" name="config_quickview_background_btnaddtocart"  value="{{ config_quickview_background_btnaddtocart }}"/>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_textcolor_btnaddtocart }}</label>
            <div class="col-sm-10">
             <input class="form-control" type="color" name="config_quickview_textcolor_btnaddtocart"  value="{{ config_quickview_textcolor_btnaddtocart }}"/>
            </div>
          </div>
		 <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_background_btnaddtocart_hover }}</label>
            <div class="col-sm-10">
             <input class="form-control" type="color" name="config_quickview_background_btnaddtocart_hover"  value="{{ config_quickview_background_btnaddtocart_hover }}"/>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_textcolor_btnaddtocart_hover }}</label>
            <div class="col-sm-10">
             <input class="form-control" type="color" name="config_quickview_textcolor_btnaddtocart_hover"  value="{{ config_quickview_textcolor_btnaddtocart_hover }}"/>
            </div>
          </div>
		  
		  
		   <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_background_btnwishlist }}</label>
            <div class="col-sm-10">
             <input class="form-control" type="color" name="config_quickview_background_btnwishlist"  value="{{ config_quickview_background_btnwishlist }}"/>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_textcolor_btnwishlist }}</label>
            <div class="col-sm-10">
             <input class="form-control" type="color" name="config_quickview_textcolor_btnwishlist"  value="{{ config_quickview_textcolor_btnwishlist }}"/>
            </div>
          </div>
		   <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_background_btnwishlist_hover }}</label>
            <div class="col-sm-10">
             <input class="form-control" type="color" name="config_quickview_background_btnwishlist_hover"  value="{{ config_quickview_background_btnwishlist_hover }}"/>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_textcolor_btnwishlist_hover }}</label>
            <div class="col-sm-10">
             <input class="form-control" type="color" name="config_quickview_textcolor_btnwishlist_hover"  value="{{ config_quickview_textcolor_btnwishlist_hover }}"/>
            </div>
          </div>
		  
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_background_btncompare }}</label>
            <div class="col-sm-10">
             <input class="form-control" type="color" name="config_quickview_background_btncompare"  value="{{ config_quickview_background_btncompare }}"/>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_textcolor_btnwishlist }}</label>
            <div class="col-sm-10">
             <input class="form-control" type="color" name="config_quickview_textcolor_btncompare"  value="{{ config_quickview_textcolor_btncompare }}"/>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_background_btncompare_hover }}</label>
            <div class="col-sm-10">
             <input class="form-control" type="color" name="config_quickview_background_btncompare_hover"  value="{{ config_quickview_background_btncompare_hover }}"/>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_textcolor_btnwishlist_hover }}</label>
            <div class="col-sm-10">
             <input class="form-control" type="color" name="config_quickview_textcolor_btncompare_hover"  value="{{ config_quickview_textcolor_btncompare_hover }}"/>
            </div>
          </div>
		  
	</div>
	<div class="tab-pane" id="tab-on-off-setting">
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_on_off_featured_quickview }}</label>
            <div class="col-sm-10">
              <select name="config_on_off_featured_quickview" id="input-status" class="form-control">
                {% if (config_on_off_featured_quickview) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
        </div> 
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_on_off_latest_quickview }}</label>
            <div class="col-sm-10">
              <select name="config_on_off_latest_quickview" id="input-status" class="form-control">
                {% if (config_on_off_latest_quickview) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_on_off_bestseller_quickview }}</label>
            <div class="col-sm-10">
              <select name="config_on_off_bestseller_quickview" id="input-status" class="form-control">
                {% if (config_on_off_bestseller_quickview) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_on_off_special_quickview }}</label>
            <div class="col-sm-10">
              <select name="config_on_off_special_quickview" id="input-status" class="form-control">
                {% if (config_on_off_special_quickview) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_on_off_category_page_quickview }}</label>
            <div class="col-sm-10">
              <select name="config_on_off_category_page_quickview" id="input-status" class="form-control">
                {% if (config_on_off_category_page_quickview) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_on_off_search_page_quickview }}</label>
            <div class="col-sm-10">
              <select name="config_on_off_search_page_quickview" id="input-status" class="form-control">
                {% if (config_on_off_search_page_quickview) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_on_off_manufacturer_page_quickview }}</label>
            <div class="col-sm-10">
              <select name="config_on_off_manufacturer_page_quickview" id="input-status" class="form-control">
                {% if (config_on_off_manufacturer_page_quickview) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_on_off_special_page_quickview }}</label>
            <div class="col-sm-10">
              <select name="config_on_off_special_page_quickview" id="input-status" class="form-control">
                {% if (config_on_off_special_page_quickview) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
        </div>		
	</div>
</div>
			
			
			
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}