{{ header }}{{ column_left }} 
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
		   <div class="pull-right">
		  <div class="buttons">
			  <a class="btn btn-primary" onclick="$('#form').submit();" class="button"><span  data-toggle="tooltip" title="{{ button_save }}" ><i class="fa fa-save"></i></span></a>
			  <a class="btn btn-default" onclick="location = '{{ cancel }}';" class="button"><span  data-toggle="tooltip" title="{{ button_cancel }}" ><i class="fa fa-reply"></i></span></a>
		  </div>
		</div>
		  <h1>{{ heading_title_setting }}</h1>
		  <ul class="breadcrumb">
			{% for breadcrumb in breadcrumbs %} 
			<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
			{% endfor %} 
		  </ul>
		</div>
	</div>
	<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
	<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
	<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_setting_module }}</h3>
		</div>
	</div>
	
	<div class="panel-body">
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-fields-setting" data-toggle="tab">{{ tab_fields_setting }}</a></li>
				<li><a href="#tab-general-setting" data-toggle="tab">{{ tab_general_setting }}</a></li>
				<li><a href="#tab-design-setting" data-toggle="tab">{{ tab_design_setting }}</a></li>
				<li><a href="#tab-sms-setting" data-toggle="tab">{{ tab_sms_setting }}</a></li>
				<li><a href="#tab-email-setting" data-toggle="tab">{{ tab_email_setting }}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab-fields-setting">
				
					<!--ПОЛЕ FIRST-->
						<div class="form-group">					
							<div class="col-sm-2 title-fields">{{ text_on_off_fields_firstname }}</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ text_status_fields }}</label>
							<div class="col-sm-10">
								<div class="onoffswitch">
									<input value="1" type="checkbox" name="config_on_off_fields_firstname" class="onoffswitch-checkbox" id="config_on_off_fields_firstname" {{ config_on_off_fields_firstname == '1' ? 'checked' : '' }}>
									<label class="onoffswitch-label" for="config_on_off_fields_firstname">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ text_requared_fields }}</label>
							<div class="col-sm-10">
								<div class="onoffswitch">
									<input value="1" type="checkbox" name="config_fields_firstname_requared" class="onoffswitch-checkbox" id="config_fields_firstname_requared" {{ config_fields_firstname_requared == '1' ? 'checked' : '' }}>
									<label class="onoffswitch-label" for="config_fields_firstname_requared">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ text_placeholder_fields }}</label>
							<div class="col-sm-3">
								{% for language in languages %} 
									<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
										<input name="config_placeholder_fields_firstname[{{ language['language_id'] }}][config_placeholder_fields_firstname]" rows="5" class="form-control" value="{{ config_placeholder_fields_firstname[language['language_id']] is defined ? config_placeholder_fields_firstname[language['language_id']]['config_placeholder_fields_firstname'] : '' }}"></input>
									</div>
								{% endfor %} 
							</div>
						</div>
					<div class="clearfix"></div>
					<!--ПОЛЕ PHONE-->
					<div class="form-group">					
						<div class="col-sm-2 title-fields">{{ text_on_off_fields_phone }}</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ text_status_fields }}</label>
						<div class="col-sm-10">
							<div class="onoffswitch">
								<input value="1" type="checkbox" name="config_on_off_fields_phone" class="onoffswitch-checkbox" id="config_on_off_fields_phone" {{ config_on_off_fields_phone == '1' ? 'checked' : '' }}>
								<label class="onoffswitch-label" for="config_on_off_fields_phone">
									<span class="onoffswitch-inner"></span>
									<span class="onoffswitch-switch"></span>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ text_requared_fields }}</label>
						<div class="col-sm-10">
							<div class="onoffswitch">
							<input value="1" type="checkbox" name="config_fields_phone_requared" class="onoffswitch-checkbox" id="config_fields_phone_requared" {{ config_fields_phone_requared == '1' ? 'checked' : '' }}>
							<label class="onoffswitch-label" for="config_fields_phone_requared">
								<span class="onoffswitch-inner"></span>
								<span class="onoffswitch-switch"></span>
							</label>
							</div>
						</div>
					</div>
					<div class="form-group">
							<label class="col-sm-2 control-label">{{ text_placeholder_fields }}</label>
							<div class="col-sm-3">
								{% for language in languages %} 
									<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
										<input name="config_placeholder_fields_phone[{{ language['language_id'] }}][config_placeholder_fields_phone]" rows="5" class="form-control" value="{{ config_placeholder_fields_phone[language['language_id']] is defined ? config_placeholder_fields_phone[language['language_id']]['config_placeholder_fields_phone'] : '' }}"></input>
									</div>
								{% endfor %} 
							</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_mask_phone_number}}</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" name="config_mask_phone_number" value="{{ config_mask_phone_number }}" />
						</div>
					</div>
					
					<!--ПОЛЕ COMMENT-->
					<div class="form-group">					
						<div class="col-sm-2 title-fields">{{ text_on_off_fields_comment }}</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ text_status_fields }}</label>
						<div class="col-sm-10">
							<div class="onoffswitch">
							<input value="1" type="checkbox" name="config_on_off_fields_comment" class="onoffswitch-checkbox" id="config_on_off_fields_comment" {{ config_on_off_fields_comment == '1' ? 'checked' : '' }}>
							<label class="onoffswitch-label" for="config_on_off_fields_comment">
								<span class="onoffswitch-inner"></span>
								<span class="onoffswitch-switch"></span>
							</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ text_requared_fields }}</label>
						<div class="col-sm-10">
							<div class="onoffswitch">
							<input value="1" type="checkbox" name="config_fields_comment_requared" class="onoffswitch-checkbox" id="config_fields_comment_requared" {{ config_fields_comment_requared == '1' ? 'checked' : '' }}>
							<label class="onoffswitch-label" for="config_fields_comment_requared">
								<span class="onoffswitch-inner"></span>
								<span class="onoffswitch-switch"></span>
							</label>
							</div>
						</div>
					</div>
					<div class="form-group">
							<label class="col-sm-2 control-label">{{ text_placeholder_fields }}</label>
							<div class="col-sm-3">
								{% for language in languages %} 
									<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
										<input name="config_placeholder_fields_comment[{{ language['language_id'] }}][config_placeholder_fields_comment]" rows="5" class="form-control" value="{{ config_placeholder_fields_comment[language['language_id']] is defined ? config_placeholder_fields_comment[language['language_id']]['config_placeholder_fields_comment'] : '' }}"></input>
									</div>
								{% endfor %} 
							</div>
					</div>
					<div class="clearfix"></div>	
					<!--ПОЛЕ EMAIL-->
					<div class="form-group">					
						<div class="col-sm-2 title-fields">{{ text_on_off_fields_email }}</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ text_status_fields }}</label>
						<div class="col-sm-10">
							<div class="onoffswitch">
							<input value="1" type="checkbox" name="config_on_off_fields_email" class="onoffswitch-checkbox" id="config_on_off_fields_email" {{ config_on_off_fields_email == '1' ? 'checked' : '' }}>
							<label class="onoffswitch-label" for="config_on_off_fields_email">
								<span class="onoffswitch-inner"></span>
								<span class="onoffswitch-switch"></span>
							</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ text_requared_fields }}</label>
						<div class="col-sm-10">
							<div class="onoffswitch">
							<input value="1" type="checkbox" name="config_fields_email_requared" class="onoffswitch-checkbox" id="config_fields_email_requared" {{ config_fields_email_requared == '1' ? 'checked' : '' }}>
							<label class="onoffswitch-label" for="config_fields_email_requared">
								<span class="onoffswitch-inner"></span>
								<span class="onoffswitch-switch"></span>
							</label>
							</div>
						</div>
					</div>
					<div class="form-group">
							<label class="col-sm-2 control-label">{{ text_placeholder_fields }}</label>
							<div class="col-sm-3">
								{% for language in languages %} 
									<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
										<input name="config_placeholder_fields_email[{{ language['language_id'] }}][config_placeholder_fields_email]" rows="5" class="form-control" value="{{ config_placeholder_fields_email[language['language_id']] is defined ? config_placeholder_fields_email[language['language_id']]['config_placeholder_fields_email'] : '' }}"></input>
									</div>
								{% endfor %} 
							</div>
					</div>
				</div>
				
				<div class="tab-pane" id="tab-general-setting">
					<div class="form-group">					
						<div class="col-sm-4 title-fields">{{ text_setting_popup_and_button_on_off }}</div>
						<div class="col-sm-8"></div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ text_general_image_product_popup }}</label>
						<div class="col-sm-10">
							<div class="onoffswitch">
								<input value="1" type="checkbox" name="config_general_image_product_popup" class="onoffswitch-checkbox" id="config_general_image_product_popup" {{ config_general_image_product_popup == '1' ? 'checked' : '' }}>
								<label class="onoffswitch-label" for="config_general_image_product_popup">
									<span class="onoffswitch-inner"></span>
									<span class="onoffswitch-switch"></span>
								</label>
							</div>
						</div>
					</div>				
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_title_popup_quickorder }}</label>
						<div class="col-sm-3">
							{% for language in languages %} 
								<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
									<input name="config_title_popup_quickorder[{{ language['language_id'] }}][config_title_popup_quickorder]" rows="5" class="form-control" value="{{ config_title_popup_quickorder[language['language_id']] is defined ? config_title_popup_quickorder[language['language_id']]['config_title_popup_quickorder'] : '' }}"></input>
								</div>
							{% endfor %} 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">{{ entry_instruction_icon_change_fastorder}}</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_icon_open_form_send_order}}</label>
						<div class="col-sm-3">
							<input class="form-control" type="text" name="config_icon_open_form_send_order" value="{{ config_icon_open_form_send_order }}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_icon_send_fastorder}}</label>
						<div class="col-sm-3">
							<input class="form-control" type="text" name="config_icon_send_fastorder" value="{{ config_icon_send_fastorder }}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_background_button_send_fastorder}}</label>
						<div class="col-sm-3">
							<input class="form-control jpicker-csseditor-fastorder_20" type="text" name="config_background_button_send_fastorder" value="{{ config_background_button_send_fastorder }}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_background_button_send_fastorder_hover}}</label>
						<div class="col-sm-3">
							<input class="form-control jpicker-csseditor-fastorder_20" type="text" name="config_background_button_send_fastorder_hover" value="{{ config_background_button_send_fastorder_hover }}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_background_button_open_form_send_order}}</label>
						<div class="col-sm-3">
							<input class="form-control jpicker-csseditor-fastorder_20" type="text" name="config_background_button_open_form_send_order" value="{{ config_background_button_open_form_send_order }}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_background_button_open_form_send_order_hover}}</label>
						<div class="col-sm-3">
							<input class="form-control jpicker-csseditor-fastorder_20" type="text" name="config_background_button_open_form_send_order_hover" value="{{ config_background_button_open_form_send_order_hover }}"/>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_color_button_open_form_send_order}}</label>
						<div class="col-sm-3">
							<input class="form-control jpicker-csseditor-fastorder_20" type="text" name="config_color_button_open_form_send_order" value="{{ config_color_button_open_form_send_order }}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_text_open_form_send_order }}</label>
						<div class="col-sm-3">
							{% for language in languages %} 
								<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
									<input name="config_text_open_form_send_order[{{ language['language_id'] }}][config_text_open_form_send_order]" rows="5" class="form-control" value="{{ config_text_open_form_send_order[language['language_id']] is defined ? config_text_open_form_send_order[language['language_id']]['config_text_open_form_send_order'] : '' }}"></input>
								</div>
							{% endfor %} 
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ text_before_button_send }}</label>
						<div class="col-sm-3">
							{% for language in languages %} 
								<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
									<textarea name="config_text_before_button_send[{{ language['language_id'] }}][config_text_before_button_send]" rows="5" class="form-control">{{ config_text_before_button_send[language['language_id']] is defined ? config_text_before_button_send[language['language_id']]['config_text_before_button_send'] : '' }}</textarea>
								</div>
							{% endfor %} 
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_any_text_at_the_bottom }}</label>
						<div class="col-sm-3">
							{% for language in languages %} 
								<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
									<textarea name="config_any_text_at_the_bottom[{{ language['language_id'] }}][config_any_text_at_the_bottom]" rows="5" class="form-control">{{ config_any_text_at_the_bottom[language['language_id']] is defined ? config_any_text_at_the_bottom[language['language_id']]['config_any_text_at_the_bottom'] : '' }}</textarea>
								</div>
							{% endfor %} 
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_any_text_at_the_bottom_color}}</label>
						<div class="col-sm-3">
							<input class="form-control jpicker-csseditor-fastorder_20" type="text" name="config_any_text_at_the_bottom_color" value="{{ config_any_text_at_the_bottom_color }}"/>
						</div>
					</div>	
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ text_complete_quickorder }}</label>
						<div class="col-sm-3">
							{% for language in languages %} 
								<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
									<textarea name="config_complete_quickorder[{{ language['language_id'] }}][config_complete_quickorder]" rows="5" class="form-control">{{ config_complete_quickorder[language['language_id']] is defined ? config_complete_quickorder[language['language_id']]['config_complete_quickorder'] : '' }}</textarea>
								</div>
							{% endfor %} 
						</div>
					</div>		
				</div>
				
				<div class="tab-pane" id="tab-design-setting">
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ text_select_design_fastorder }}</label>
						<div class="col-sm-2">
							<select name="config_select_design_fastorder" class="form-control">
								<option  {% if (config_select_design_fastorder == '1' ) %} {{ 'selected' }}{% endif %} value="1">{{ text_theme1 }}</option>
								<option  {% if (config_select_design_fastorder == '2' ) %} {{ 'selected' }}{% endif %} value="2">{{ text_theme2 }}</option>
								<option  {% if (config_select_design_fastorder == '3' ) %} {{ 'selected' }}{% endif %} value="3">{{ text_theme3 }}</option>
								<option  {% if (config_select_design_fastorder == '4' ) %} {{ 'selected' }}{% endif %} value="4">{{ text_theme4 }}</option>
							</select>			
						</div>
					</div>	
					<div class="form-group">
						<div class="col-sm-3">{{ "№ - 1" }}</br><img src="view/image/fastorder_theme1.png" style="max-width:261px;"></div>					
						<div class="col-sm-3">{{ "№ - 2" }}</br><img src="view/image/fastorder_theme2.png" style="max-width:307px;"></div>
					</div>
				</div>
				<div class="tab-pane" id="tab-sms-setting">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="register_site_fastorder">{{ register_site_fastorder }}</label>
						<div class="col-sm-10">
							<div><a href="http://my.smscab.ru/">{{ "http://my.smscab.ru/" }}</a></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ on_off_sms_fastorder }}</label>
						<div class="col-sm-10">
							<div class="onoffswitch">
								<input value="1" type="checkbox" name="config_send_sms_on_off_fastorder" class="onoffswitch-checkbox" id="config_send_sms_on_off_fastorder" {{ config_send_sms_on_off_fastorder == '1' ? 'checked' : '' }}>
								<label class="onoffswitch-label" for="config_send_sms_on_off_fastorder">
									<span class="onoffswitch-inner"></span>
									<span class="onoffswitch-switch"></span>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_phone_number_send_sms_fastorder }}</label>
						<div class="col-sm-6">
							<input class="form-control" type="text" name="config_phone_number_send_sms_fastorder" value="{{ config_phone_number_send_sms_fastorder }}"  />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_login_send_sms_fastorder }}</label>
						<div class="col-sm-6">
							<input class="form-control" type="text" name="config_login_send_sms_fastorder" value="{{ config_login_send_sms_fastorder }}"  />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_pass_send_sms_fastorder }}</label>
						<div class="col-sm-6">
							<input class="form-control" type="text" name="config_pass_send_sms_fastorder" value="{{ config_pass_send_sms_fastorder }}"  />
						</div>
					</div>				
				</div>
				
				
				<div class="tab-pane" id="tab-email-setting">
					<div class="form-group">					
							<div class="col-sm-2 title-fields">{{ form_latter_from_buyer }}</div>
					</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ text_on_off_send_buyer_mail }}</label>
							<div class="col-sm-10">
								<div class="onoffswitch">
									<input value="1" type="checkbox" name="config_on_off_send_buyer_mail" class="onoffswitch-checkbox" id="config_on_off_send_buyer_mail" {{ config_on_off_send_buyer_mail == '1' ? 'checked' : '' }}>
									<label class="onoffswitch-label" for="config_on_off_send_buyer_mail">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</div>
						</div>
					<div>
						 <ul class="nav nav-tabs" id="language">
							{% for language in languages %} 
							<li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
							{% endfor %} 
						</ul>
						<div class="tab-content">
							{% for language in languages %} 
								<div class="tab-pane" id="language{{ language['language_id'] }}">
									<div class="form-group">
										<label class="col-sm-2 control-label" for="quickorder_subject{{ language.language_id }}">{{ quickorder_subject_buyer }}<br />{{ subject_text_variables }}</label>
										<div class="col-sm-10">
											<textarea name="quickorder_subject[{{ language.language_id }}][text]" id="quickorder_subject{{ language.language_id }}" cols="50" rows="3">{{ quickorder_subject[language.language_id].text is defined ? quickorder_subject[language.language_id].text : '' }}</textarea>   
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="quickorder_description{{ language['language_id'] }}">{{ quickorder_description_buyer }}<br />{{ subject_text_variables }}<br />{{ list_of_variables_entry }}</label>
										<div class="col-sm-10">
											<textarea class="form-control" data-toggle="summernote" name="quickorder_description[{{ language.language_id }}][text]" id="quickorder_description{{ language.language_id }}" cols="50" rows="3">{{ quickorder_description[language.language_id].text is defined ? quickorder_description[language.language_id].text : '' }}</textarea>
										</div>
									</div>
								</div>
							 {% endfor %} 
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ text_form_latter_products }}</label>
							<div class="col-sm-10">
								<div class="onoffswitch">
									<input value="1" type="checkbox" name="config_buyer_html_products" class="onoffswitch-checkbox" id="config_buyer_html_products" {{ config_buyer_html_products == '1' ? 'checked' : '' }}>
									<label class="onoffswitch-label" for="config_buyer_html_products">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="form-group">					
								<div class="col-sm-2 title-fields">{{ form_latter_from_me }}</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ text_on_off_send_me_mail }}</label>
							<div class="col-sm-10">
								<div class="onoffswitch">
									<input value="1" type="checkbox" name="config_on_off_send_me_mail" class="onoffswitch-checkbox" id="config_on_off_send_me_mail" {{ config_on_off_send_me_mail == '1' ? 'checked' : '' }}>
									<label class="onoffswitch-label" for="config_on_off_send_me_mail">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</div>
						</div>
						<ul class="nav nav-tabs" id="language_me">
							{% for language in languages %} 
							<li><a href="#language_me{{ language['language_id'] }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language['name'] }}</a></li>
							{% endfor %} 
						</ul>
							<div class="tab-content">
								{% for language in languages %} 
									<div class="tab-pane" id="language_me{{ language['language_id'] }}">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="quickorder_subject_me{{ language.language_id }}">{{ quickorder_subject_buyer }}<br />{{ subject_text_variables }}</label>
											<div class="col-sm-10">
												<textarea name="quickorder_subject_me[{{ language.language_id }}][text]" id="quickorder_subject_me{{ language.language_id }}" cols="50" rows="3">{{ quickorder_subject_me[language.language_id].text is defined ? quickorder_subject_me[language.language_id].text : '' }}</textarea>   
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="quickorder_description_me{{ language.language_id }}">{{ quickorder_description_buyer }}<br />{{ subject_text_variables }}<br />{{ list_of_variables_entry }}</label>
											<div class="col-sm-10">
												<textarea class="form-control" data-toggle="summernote" name="quickorder_description_me[{{ language.language_id }}][text]" id="quickorder_description_me{{ language.language_id }}" cols="50" rows="3">{{ quickorder_description_me[language.language_id].text is defined ? quickorder_description_me[language.language_id].text : '' }}</textarea>
											</div>
										</div>
									</div>
								 {% endfor %} 
							</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ text_form_latter_products }}</label>
							<div class="col-sm-10">
								<div class="onoffswitch">
									<input value="1" type="checkbox" name="config_me_html_products" class="onoffswitch-checkbox" id="config_me_html_products" {{ config_me_html_products == '1' ? 'checked' : '' }}>
									<label class="onoffswitch-label" for="config_me_html_products">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_you_email_quickorder}}</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" name="config_you_email_quickorder" value="{{ config_you_email_quickorder }}" />
						</div>
					</div>
					</div>
				</div>
				
			</div>
		</form>
	</div>
</div>
	<style>
.title-fields {
  color: orange !important;
  font-size: 16px;
  text-align: right;
}
	.onoffswitch {
        position: relative;
		width: 75px;
		background-color: white;
		background-image: linear-gradient(to bottom, #eeeeee, white 25px);
		border-radius: 18px;
		box-shadow: 0 -1px white inset, 0 1px 1px rgba(0, 0, 0, 0.05) inset;
		padding: 3px;
        -webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block;
		overflow: hidden;
		cursor: pointer;
		border-radius: 15px;
		margin-bottom:1px;
    }
    .onoffswitch-inner {
        display: block;
		width: 200%;
		margin-left: -100%;
        transition: background 0.2s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
		float: left;
		width: 50%;
		height: 29px;
		padding: 0;
		line-height: 29px;
        font-size: 14px;
		color: white;
		font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 13px;
		color: #ffffff;
		background-color: #47a8d8;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset, 0 0 3px rgba(0, 0, 0, 0.2) inset;
		text-shadow: 0 1px rgba(0, 0, 0, 0.2);
		border-radius: 18px;
		font-size:13px;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 9px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset, 0 0 3px rgba(0, 0, 0, 0.2) inset;
		text-shadow: 0 1px rgba(255, 255, 255, 0.5);
		color: #aaa;
		background:#eceeef none repeat scroll 0 0;
        text-align: right;
		border-radius: 18px;
		font-size:13px;
    }
    .onoffswitch-switch {
        display: block;
		width: 25px;
		height:25px;
        box-shadow:-1px 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.02) inset;
        background: #f9f9f9 linear-gradient(to bottom, #eeeeee, white) repeat scroll 0 0;
        position: absolute;
		top: 5px;
		bottom: 4px;
        right: 45px;
        border: 4px solid #FFFFFF;
		border-radius: 15px;
        transition: all 0.2s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 5px; 
		box-shadow:-1px 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.02) inset;
        background: #f9f9f9 linear-gradient(to bottom, #eeeeee, white) repeat scroll 0 0;
		
    }

</style>
 <script type="text/javascript"><!--
$('#language a:first').tab('show');
$('#language_me a:first').tab('show');
//--></script>
{{ footer }}